.about-me{
    @media @m {
        padding-top: @margin-default*4;
    }

    &--header{
        overflow: hidden;
        height: 0;
        padding-bottom: 60%;
        margin: 0 -@margin-default @margin-default -@margin-default;

        @media @m {
            max-height: 100%;
            margin: 0 0 0 @margin-double;
        }

        img{
            width: 100%;
            height: auto;
        }
    }
}

.about-me.two-columns{
    display: block;

    .left-column,
    .right-column{
        float: none;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .left-column{
        @media @m {
            float: right
        }
    }

    &.two-third{
        .left-column{
            @media @m {
                width: 40%;
            }
        }

        .right-column{
            @media @m {
                width: calc(~'60% -' @margin-double);
            }
        }
    }
}
