<section class="centered-column about-me two-columns">
  <div class="about-me--header right-column">
    <img src="/assets/images/about-me-s.jpg" alt="" class="desktop-hidden">
    <img src="/assets/images/about-me.jpg" alt="" class="mobile-hidden">
  </div>

  <div class="left-column">
    <h2 class="header">Merijn Tinga</h2>

    <p>Merijn Tinga (44 years old) learned to windsurf when he was eight years old. He graduated in Biology at Leiden University in 1996. Looking for a new challenge, he quit his job after four years and decided to cycle to Morocco - and back - with a kitesurf board. Once on the Moroccan beaches, he decided he wanted to become a visual artist.</p>

    <p>Starting with guerrilla art, Merijn gained regional fame with his art collective (Kunst Uitschot Team) by illegally installing wooden sculptures in public space - a few sculptures can still be found in the public parks of Leiden. In his studio he made installations and sculptures for the public space and festivals.</p>

    <p>In 2013, Merijn was alarmed by the first reports on the 'plastic soup' in our oceans. He combined his urge for adventure, his art skills and his surfing experience in the construction of the first Plastic Soup Board from plastic litter he found on his local beach. After his first expedition on this Plastic Soup Board, his focus shifted entirely to the marine litter problem. In 2015 and 2016 he conducted two other projects on the prevention of plastic waste in our marine environment.</p>
  </div>
</section>
