.about-me {
    position: relative;
    margin-bottom: @margin-double;
    padding-top: @margin-double;

    @media @m {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 6rem;
        padding-bottom: @margin-quadruple;
    }

    &__content {
        margin-right: 0;

        @media only screen and (min-width: 1280px) {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            justify-self: flex-end;
            margin-left: 0;
        }
    }

    &__image {
        width: 75%;
        max-width: 35rem;

        @media @m {
            margin-top: @margin-quadruple;
        }
    }

    &__wave {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
    }
}
