{% macro tenMore(donatedProgress) %}
<div class="ten-more grid">
	<div class="grid__item">
		{% include "assets/icons/goal-reached.svg" %}
	</div>
	<div class="grid__item">
		<h3 class="h2">Let's send 10 more</h3>
		<p>We are not done yet! And it is up to you too... We can make change but we need your support. Get yourself a €5 share and support us in our confrontation of the CEO’s of the following companies;</p>
		<a class="button button--primary" href="#donate">Donate</a>
	</div>
</div>
{% endmacro %}