<section class="waste-statistics">
	<div class="centered-column">
		<h2>Plastic waste facts & figs</h2>

		<p><em>20.000.000</em> kg of waste is spilt into the North Sea each year, most of which is single use plastic. Plastic does not break down biologically but breaks up into ever smaller pieces and accumulates in our marine environment. These small pieces of plastic have infiltrated every level of our food chain and are by now finding micro plastics in supermarket fish and our dinner plates. Plastic production has increased <em>20 fold</em> within the last 50 years. If we continue the way we do there will be more plastic than fish in our oceans by <em>2050</em>.</p>

		<div class="statistics-sheet">
			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					20</span>
				<span class="statistics-sheet__unit">
					million kg
				</span>
				<span class="statistics-sheet__description">
					<em>Waste</em> spilled into the North Sea every year, mostly plastic
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					14
				</span>
				<span class="statistics-sheet__unit">
					million
				</span>
				<span class="statistics-sheet__description">
					<em>Plastic bottles</em> in the Dutch environment every year
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					40
				</span>
				<span class="statistics-sheet__unit">
					thousand kg
				</span>
				<span class="statistics-sheet__description">
					<em>Of plastic waste</em> down the Rhine into the North Sea every year
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					2000
				</span>
				<span class="statistics-sheet__unit">
					kg / sq km
				</span>
				<span class="statistics-sheet__description">
					<em>Plastic waste</em> on every square km of beach worldwide
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					<img src="/assets/icons/waste-statistic-94.svg" alt="94%">
				</span>
				<span class="statistics-sheet__description">
					Of <em>plastic</em> sinks further slowing the degradation process
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					<img src="/assets/icons/waste-statistic-morethan-80.svg" alt=">80%">
				</span>
				<span class="statistics-sheet__description">
					<em>Plastic waste</em> in oceans from land based sources
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					<img src="/assets/icons/waste-statistic-morethan-50.svg" alt=">50%">
				</span>
				<span class="statistics-sheet__description">
					Of <em>plastics</em> we use just once and throw away
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					<img src="/assets/icons/waste-statistic-36.svg" alt="36%">
				</span>
				<span class="statistics-sheet__description">
					Of <em>species of bird</em> with ingestion of marine plastic
				</span>
			</div>

			<div class="statistics-sheet__statistic--half-width">
				<span class="statistics-sheet__number">
					100.000
				</span>
				<span class="statistics-sheet__description">
					<em>Sea mammals</em> die as a result of marine plastic pollution each year
				</span>
			</div>

			<div class="statistics-sheet__statistic--half-width">
				<span class="statistics-sheet__number">
					1.000.000
				</span>
				<span class="statistics-sheet__description">
					<em>Sea birds</em> die as a result of marine plastic pollution each year
				</span>
			</div>
		</div>
	</div>
</section>
