.waste-statistics {
	padding: @margin-double;
	background: @grey-light;
	text-align: center;

	@media @s-only {
		padding: @margin-default 0;
		text-align: left;
	}

	em {
		font-style: normal;
		color: @brand-pink;
	}

	.statistics-sheet {
		.clearfix();
		display: flex;
		flex-wrap: wrap;
		padding: @margin-double 0 @margin-default 0;

		&__statistic {
			float: left;
			margin-bottom: @margin-double;
			width: 25%;

			@media @s-only {
				float: none;
				margin-bottom: @margin-double*2;
				width: 100%;
				text-align: center;
			}
		}

		&__statistic--half-width {
			float: left;
			margin: @margin-double 0 @margin-default 0;
			width: 50%;

			@media @s-only {
				float: none;
				width: 100%;
				text-align: center;
			}
		}

		&__number {
			.text-shadow();
			display: block;
			font-family: @font-header;
			font-size: @text-size-heading*2;
			line-height: 1;

			@media @m-only {
				font-size: 7vw;
			}

			@media @s-only {
				font-size: 20vw;
			}
		}

		&__unit {
			display: block;
			margin-bottom: @margin-default;
			font-family: @font-header;
			font-size: @text-size-bigger;
			text-transform: uppercase;
		}

		&__description {
			display: block;
			padding: 0 @margin-double;
		}
	}
}