.waste-statistics {
	padding: @margin-default 0;
	background: @grey-light;

	@media @m {
		padding: @margin-double;
		text-align: center;
	}

	em {
		font-style: normal;
		color: @brand-pink;
	}

	.statistics-sheet {
		.clearfix();
		display: flex;
		flex-wrap: wrap;
		padding: @margin-double 0 @margin-default 0;

		&__statistic {
			margin-bottom: @margin-double*2;
			width: 100%;
			text-align: center;

			@media @m {
				float: left;
				margin-bottom: @margin-double;
				width: 25%;
			}
		}

		&__statistic--half-width {
			margin-bottom: @margin-double*2;
			width: 100%;
			text-align: center;
			

			@media @m {
				float: left;
				margin: @margin-double 0 @margin-default 0;
				width: 50%;
			}
		}

		&__number {
			.text-shadow();
			display: block;
			font-family: @font-header;
			font-size: 20vw;
			line-height: 1;

			img {
				width: 50%;
				height: auto;
			}

			@media @m {
				font-size: 7vw;

				img {
					width: 75%;
					height: auto;
				}
			}

			@media @l {
				font-size: @text-size-heading*1.7;
			}
		}

		&__unit {
			display: block;
			margin-bottom: @margin-default;
			font-family: @font-header;
			font-size: @text-size-bigger;
			text-transform: uppercase;
		}

		&__description {
			display: block;
			padding: 0 @margin-double;
		}
	}
}