<section class="waste-statistics">
	<div class="centered-column">
		<h2>Plastic waste facts & figs</h2>

		<p><em>20.000.000</em> kg of waste is spilt into the North Sea each year, most of which is single use plastic. Plastic does not break down biologically but breaks up into ever smaller pieces and accumulates in our marine environment. These small pieces of plastic have infiltrated every level of our food chain and are by now finding micro plastics in supermarket fish and our dinner plates. Plastic production has increased <em>20 fold</em> within the last 50 years. If we continue the way we do there will be more plastic than fish in our oceans by <em>2050</em>.</p>

		<div class="statistics-sheet">
			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					+30</span>
				<span class="statistics-sheet__unit">
					tonnes
				</span>
				<span class="statistics-sheet__description">
					of plastic <em>waste</em> wash down the Rhine each year
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					1
				</span>
				<span class="statistics-sheet__unit">
					million
				</span>
				<span class="statistics-sheet__description">
					<em>plastic particles</em> per km2 on the Rhine
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					1250
				</span>
				<span class="statistics-sheet__unit">
					species
				</span>
				<span class="statistics-sheet__description">
					of fish are affected by <em>plastic litter</em>
				</span>
			</div>

			<div class="statistics-sheet__statistic">
				<span class="statistics-sheet__number">
					15
				</span>
				<span class="statistics-sheet__unit">
					million
				</span>
				<span class="statistics-sheet__description">
					<em>plastic bottles</em> are littered in the Netherlands
				</span>
			</div>

			<div class="statistics-sheet__statistic--half-width">
				<span class="statistics-sheet__number">
					100.000
				</span>
				<span class="statistics-sheet__description">
					mammals <em>die</em> each year
				</span>
			</div>

			<div class="statistics-sheet__statistic--half-width">
				<span class="statistics-sheet__number">
					1.000.000
				</span>
				<span class="statistics-sheet__description">
					seabirds <em>die</em> each year
				</span>
			</div>
		</div>
	</div>
</section>
