{%- extends "views/_base/layout.html" -%}

{% block title %}Source 2 Sea Expedition{% endblock %}
{% block viewClass %}adventure-view{% endblock %}

{%- block content -%}

    {% from 'components/hero/hero.html' import hero %}
    {{ hero(
        title='Back upstream with the bailiffs',
        description="We have reached our goal of 10 bailiffs (in Dutch: deurwaarders)! Ten bailiffs who will confront ten CEO's of the plastic producing and packaging companies whose litter I found in the Rhine.",
        image='/assets/images/header--bailiffs.jpg'
    ) }}

    <section class="centered-column">
        <h2>Goal</h2>
        <div class="grid">
            <p class="grid__item">There is a direct relation between the plastic products of these companies and the effects it has on the environment, sea life and eventually us human beings. Once a CEO is made aware of this through the warrant, it morally implies he has to take corporate responsibility and minimize the effects for example through product design, logistics and communication.</p>
            <p class="grid__item">We make CEOs ‘Formally Aware’ of the plastic pollution problem by sending them a ‘judicial awareness notice’. A notice borrowed from Patent Law but in our case uniquely applied for the plastic pollution problem. The great thing about this Formal Notice is that we can address it to a particular CEO and company and have a bailiff to deliver it in person. Deployed carefully we managed to start a dialog on plastic pollution with several of these very powerful people.</p>
        </div>

        {% from "components/video-player/video-player.html" import videoPlayer %}
        {{ videoPlayer('https://www.youtube-nocookie.com/embed/hpUr_0Ca1Eo?rel=0&amp;showinfo=0') }}

        {% from 'components/quote/quote.html' import quote %}
        {{ quote('From now on the companies and CEOs we visited can never claim they didn’t know...', wide=true) }}

        <img src="/assets/icons/bailiff--logos.svg" alt="">
    </section>

    {% from 'components/partners-list/partners-list.html' import partnersList %}
    {{ partnersList(['ggn', 'edoSmid', 'universiteitLeiden']) }}

{%- endblock -%}
