{%- extends "views/_base/layout.html" -%}

{% block title %}Source 2 Sea Expedition{% endblock %}

{%- block content -%}

    {% from 'components/hero/hero.html' import hero %}
    {{ hero(
        title='Back upstream with the bailiffs',
        description="We have reached our goal of 10 bailiffs (in Dutch: deurwaarders)! Ten bailiffs who will confront ten CEO's of the plastic producing and packaging companies whose litter I found in the Rhine.",
        image='/assets/images/header.jpg'
    ) }}

    <section class="centered-column">
        <h2>Goal</h2>
        <div class="grid">
            <p class="grid__item">There is a direct relation between the plastic products of these companies and the effects it has on the environment, sea life and eventually us human beings. Once a CEO is made aware of this through the warrant, it morally implies he has to take corporate responsibility and minimize the effects for example through product design, logistics and communication.</p>
            <p class="grid__item">By targeting the CEOs of the top ten companies we aim to start a movement towards a plastic pollution free society. And these ten powerful CEOs can make a decisive impact straight away. The high profile nature of the campaign and the discussion arising from it will automatically raise awareness among consumers and legislators. The problems arising from plastic pollution are urgent and we need to tackle these together.</p>
        </div>

        {% from 'components/quote/quote.html' import quote %}
        {{ quote('Consumers, legislators and producers all have a shared responsibility to bring about this behavioral change', wide=true) }}
    </section>

{%- endblock -%}
