{%- extends "views/_base/layout.html" -%}

{% block title %}Adventures{% endblock %}

{%- block content -%}

    {% from 'components/hero/hero.html' import hero %}
    {{ hero(
        title='Our bottle odyssey',
        subtitle='My current adventure:',
        description="A foil-windsurfing expedition on a board 3D printed from littered plastic bottles. From the Seine river to Rhine rivermouth. This 8 day expedition will mark the countdown to World Clean Up Day.",
        image='/assets/images/header--printing.jpg',
        button={url: '/adventures/our-bottle-odyssey', text: 'Join the movement!'}
    ) }}

    <section class="centered-column">
        <h2 class="h3 h3-alt">My other adventures:</h2>
        {% from 'components/adventures-list/adventures-list.html' import adventuresList %}
        {{ adventuresList() }}
    </section>

{%- endblock -%}
