{%- extends "views/_base/layout.html" -%}

{% block title %}Adventures{% endblock %}

{%- block content -%}

    {% from 'components/hero/hero.html' import hero %}
    {{ hero(
        title='Pick up 10',
        subtitle='My current adventure:',
        description="This is the ‘data-revolution’ that gives us the power to confront policy makers and companies. New innovations in photo recognition make it easy, we make it fun. Picking up litter is now a call for change!",
        image='/assets/images/plastic-soup.jpg',
        button={url: '/adventures/pickup10', text: 'Join the movement!'}
    ) }}

    <section class="centered-column">
        <h2 class="h3 h3-alt">My other adventures:</h2>
        {% from 'components/adventures-list/adventures-list.html' import adventuresList %}
        {{ adventuresList() }}
    </section>

{%- endblock -%}
