<section class="team">
    <div class="centered-column">
        <h2>Team</h2>

        <ul class="team-list flat-list">
            <li class="team-list-item">
                <img class="team-list-picture" src="assets/images/about-team-merijn.jpg" alt="">
                <h3>Merijn Tinga</h3>
                <p>Surfer, Beeldend kunstenaar, Bioloog</p>
                <a href="http://www.ateliertinga.nl">www.ateliertinga.nl</a>
            </li>

            <li class="team-list-item">
                <img class="team-list-picture" src="assets/images/about-team-martine.jpg" alt="">
                <h3>Martine Eyzenga</h3>
                <p>Grafish ontwerper, Communicatie expert, Duiker</p>
                <a href="http://www.diezijnvaardig.nl">www.diezijnvaardig.nl</a>
            </li>

            <li class="team-list-item">
                <img class="team-list-picture" src="assets/images/about-team-eelkedekker.jpg" alt="">
                <h3>Eelke Dekker</h3>
                <p>Actionsport regiseur, Fotograaf, Surfer</p>
                <a href="http://www.eelkedekker.nl">www.eelkedekker.nl</a>
            </li>

            <li class="team-list-item">
                <img class="team-list-picture" src="assets/images/about-team-kimvandenanker.jpeg" alt="">
                <h3>Kim van den Anker</h3>
                <p>Project management, PR</p>
                <a href="https://www.linkedin.com/in/kimvdanker/">LinkedIn</a>
            </li>
        </ul>
    </div>
</section>
