<section class="team">
  <div class="centered-column">
    <h2 class="header">TEAM</h2>
    <ul class="team-list">
      <li>
        <div>
          <img src="assets/images/team.jpg" alt="">
      </div>
        <h3>Merijn Tinga</h3>
        <small>Surfer, Beeldend kunstenaar, Bioloog</small>
        <a href="http://www.ateliertinga.nl">www.ateliertinga.nl</a>
      </li>

      <li>
        <div>
          <img src="assets/images/team.jpg" alt="">
      </div>
        <h3>Martine Eyzenga</h3>
        <small>Grafish ontwerper, Communicatie expert, Duiker</small>
        <a href="http://www.diezijnvaardig.nl">www.diezijnvaardig.nl</a>
      </li>

      <li>
        <div>
          <img src="assets/images/team.jpg" alt="">
      </div>
        <h3>Eelke Dekker</h3>
        <small>Actionsport regiseur, Fotograaf, Surfer</small>
        <a href="http://www.eelkedekker.nl">www.eelkedekker.nl</a>
      </li>

      <li>
        <div>
          <img src="assets/images/team.jpg" alt="">
      </div>
        <h3>Kim van den Anker</h3>
        <small>Project management, PR</small>
        <a href="http://www.kimvandenanker.nl">www.kimvandenanker.nl</a>
      </li>
    </ul>
  </div>
</section>
