<section class="about-team">
    <div class="centered-column">
        <h2 class="h3-alt">Team</h2>

        <ul class="about-team__list flat-list">
            <li class="about-team__item">
                <img class="about-team__item-avatar" src="assets/images/about-team-merijn.jpg" alt="">
                <h3>Merijn Tinga</h3>
                <p class="about-team__item-description">Surfer, visual artist, biologist</p>
                <a href="http://www.ateliertinga.nl">www.ateliertinga.nl</a>
            </li>

            <li class="about-team__item">
                <img class="about-team__item-avatar" src="assets/images/about-team-martine.jpg" alt="">
                <h3>Martine Eyzenga</h3>
                <p class="about-team__item-description">Graphic designer, communication expert, diver</p>
                <a href="http://www.diezijnvaardig.nl">www.diezijnvaardig.nl</a>
            </li>

            <li class="about-team__item">
                <img class="about-team__item-avatar" src="assets/images/about-team-eelkedekker.jpg" alt="">
                <h3>Eelke Dekker</h3>
                <p class="about-team__item-description">Action sports director, photographer, surfer</p>
                <a href="http://www.eelkedekker.nl">www.eelkedekker.nl</a>
            </li>

            <li class="about-team__item">
                <img class="about-team__item-avatar" src="assets/images/about-team-kimvandenanker.jpeg" alt="">
                <h3>Kim van den Anker</h3>
                <p class="about-team__item-description">Project manager, public relations manager</p>
                <a href="https://www.linkedin.com/in/kimvdanker/">LinkedIn</a>
            </li>

            <li class="about-team__item">
                <img class="about-team__item-avatar" src="assets/images/about-team-dalinde-theunissen.jpg" alt="">
                <h3>Dalinde Theunissen</h3>
                <p class="about-team__item-description">Analyser and researcher</p>
                <a href="https://linkedin.com/in/dalinde-theunissen/">LinkedIn</a>
            </li>
        </ul>
    </div>
</section>
