.team {
    padding: @margin-double 0;
    background-color: @grey-light;

    .team-list {
        @media @m {
            display: flex;
            margin: 0 -@margin-default;
            .clearfix();
        }

        @media @m-l {
            margin: 0 -@margin-double;
        }

        .team-list-item {
            margin-bottom: @margin-double;
            list-style: none;
            text-align: center;

            @media @m {
                display: flex;
                flex-direction: column;
                width: 25%;
                padding: 0 @margin-default;
                float: left;
            }

            @media @m-l {
                padding: 0 @margin-double;
            }

            .team-list-picture {
                width: 100%;
                max-width: 15rem;
                height: auto;
                margin: 0 auto @margin-default;
                border-radius: 50%;
            }

            h3 {
                width: 100%;
                font-size: @text-size-default;

                @media @m {
                    flex: 1 1 auto;
                }
            }

            p {
                display: block;
                font-size: @text-size-small;
                line-height: 1;

                @media @m {
                    flex: 1 1 auto;
                }
            }

            a {
                display: block;
                width: 100%;
            }
        }
    }
}
