<section class="pickup-app-preview centered-column grid">
    <div class="grid__item">
        <h2>Try Pick Up 10 on your phone!</h2>
        <p>Collect points, challenge friends and do something to prevent plastic pollution in our environment at the same time!</p>
        <a href="https://pickup10.org/" class="button button--primary">Open webapp</a>
    </div>
    <div class="grid__item pickup-app-preview__image">
        <img src="/assets/images/pickup10-app-hand.png" alt="Hand holding phone showing pick up 10 app" width="300">
    </div>
</section>
