<section class="whats-next ">  
  <div class="grid whats-next__grid centered-column">
    
    <div class="grid__item whats-next__item whats-next__item--left">
        <h2>What's Next?</h2>
        <p class="text">
            We are not done yet! I am confronting the CEO’s of the 
            packaging industry and cosmetics industry with the 
            effects of ‘their’ plastic pollution. 
            We use a bailiff* to do so. 
            I need your support for the preparation of the 
            ‘formal notice’ and the use of bailiff. 
            For €5 you can make a difference. 
            Together we can make a change.
        </p>
        <a href="/exploot" class="button button--primary button--whats-next">Buy a share</a>
        <div class="mascotte">
          {% include "assets/icons/mascot-next.svg" %}
        </div>
    </div>
    
    <div class="grid__item whats-next__item--right whats-next__item--right-small">
      {% include "assets/icons/timeline-s.svg" %}
    </div>

    <div class="grid__item whats-next__item--right whats-next__item--right-large">
      {% include "assets/icons/timeline-l.svg" %}
    </div>
    
  </div>
</section>
