@import "components/header/header";
@import "components/footer/footer";

@import (reference) "variables";

.centered-column {
    margin:0 auto;
    max-width: 960px;
}

html {
    font-size:@text-size-body;
}

body {
    padding:0;
    margin:0;
    font-family:@font-body;
}

.site-main {
    float:left;
    width:100%;
}