<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} • Plastic Soup Surfer</title>
        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
        <link rel="icon" type="image/png" href="/assets/images/logo.png">
        <script>document.documentElement.classList.remove('no-js')</script>
        {% include "./header-styles.html" %}
        {% include "components/analytics/analytics.html" %}
    </head>

    <body>
        {% block header %}
            {% include "components/header/header.html" %}
        {%- endblock -%}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include "components/footer/footer.html" %}
        {%- endblock -%}

        {% include "./footer-scripts.html" %}
    </body>
</html>
