@import "components/header/header";
@import "components/footer/footer";

@import (reference) "variables";

.adventure-view {
    section {
        margin-bottom: @margin-quadruple;
    }
    
    &__image {
        display: block;
        width: 100%;
        max-width: 75rem;
        margin-right: auto;
        margin-bottom: @margin-quadruple;
        margin-left: auto;
    }
}

.donate-view {
    background-color: @grey-light;
}
