<section class="nominees centered-column">
	<h2>Nominees</h2>

	<div class="nominees__list">
		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Soda company</p>
			<p class="nominee__subtitle">Focus: return systems</p>
		</div>

		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Packaging company</p>
			<p class="nominee__subtitle">Focus: design and communication</p>
		</div>

		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Microbead company</p>
			<p class="nominee__subtitle">Focus: loss via waste water</p>
		</div>

		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Plastic industry</p>
			<p class="nominee__subtitle">Focus: loss via processing</p>
		</div>
	</div>
</section>
