<section class="nominees centered-column">
	<h2>Nominees</h2>

	<div class="nominees__list">
		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Soda company</p>
			<p class="nominee__subtitle">return systems</p>
		</div>

		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Packaging company</p>
			<p class="nominee__subtitle">design and communication</p>
		</div>

		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Microbead company</p>
			<p class="nominee__subtitle">loss via waste water</p>
		</div>

		<div class="nominee">
			<img class="nominee__image" src="/assets/icons/factory.svg" alt="">
			<p class="nominee__title">Plastic industry</p>
			<p class="nominee__subtitle">loss via processing</p>
		</div>
	</div>

	<p><em>A shortlist with the names of the nominated companies will be published in July.</em></p>
</section>
