.about-foundation {
    display: block;
    margin-bottom: @margin-double;

    @media @m {
        display: flex;
    }

    .foundation,
    .foundation__picture {
        width: 100%;
        border-radius: 3px;

        @media @m {
            width: inherit;
        }
    }
    
    .foundation__title {
        color: @brand-pink-light;
    }

    .foundation {
        margin-bottom: @margin-default;
        padding: @margin-default;
        background-color: @grey-light;
        color: @brand-pink;

        @media @m {
            order: 1;
            width: calc(~'60%' - @margin-half);
            margin-bottom: 0;
            padding: @margin-double;
        }

        .button {
            @media @m {
                width: auto;
                text-align: left;
            }
        }
    }

    .foundation__picture {
        width: 100%;
        padding: 0 0 100% 0;
        background: url('/assets/images/about-stichting.jpg') center / cover;

        @media @m {
            width: calc(~'40%' - @margin-half);
            margin-right: @margin-default;
            padding-bottom: 30%;
        }
    }
}
