.about-stichting {
    display: flex;
    flex-direction: column;

    @media @m {
        flex-direction: row;
    }

    .stichting,
    .stichting--foto {
        border-radius: 3px;
    }

    .stichting {
        background-color: @brand-highlight;
        padding: @margin-default;
        margin-bottom: @margin-default;

        @media @m {
            order: 1;
            margin-bottom: 0;
        }

        h2, p {
            color: @white;
        }

        .button-bottom {
            @media @m {
                display: flex;
                height: 100%;
                align-items: flex-end;
            }

            .button {
                width: 100%;
                text-align: center;

                @media @m {
                    width: auto;
                    text-align: left;
                }
            }
        }
    }

    .stichting--foto {
        width: 100%;
        height: auto;
        @media @m {
            margin-right: @margin-default;
        }
    }
}
