<section class="about-foundation centered-column two-columns">
    <div class="foundation right-column">
        <h2>Stichting</h2>

        <p>Merijn Tinga is bioloog. Hij keerde zijn vaste baan de rug toe in 2000 toen hij naar Marokko fietste (en terug) met een kitesurfboard achter zijn fiets. Tijdens die reis besloot hij kunstenaar te ‘worden’.</p>

        <p>In zijn atelier werkt hij voornamelijk aan kunstobjecten en installaties voor festivals en de openbare ruimte.</p>

        <a class="button button--primary button--full-width" href="#">More information</a>
    </div>

    <div class="foundation__picture left-column"></div>
</section>
