<section class="about-foundation centered-column two-columns">
    <div class="foundation right-column">
        <h2 class="foundation__title h3-alt">Foundation</h2>

        <p>The Plastic Free Sea Foundation is a non profit organization and is run by volunteers. Our goal is to increase the awareness on the effects and dangers of plastic litter in our marine environments. Campaigns are focused on preventing more plastic ending up in our seas.</p>

        <a class="button button--primary button--full-width" href="http://www.plasticfreesea.nl">www.plasticfreesea.nl</a>
    </div>

    <div class="foundation__picture left-column"></div>
</section>
