<section class="hero hero-source2sea">
	<div class="centered-column">
		<div class="hero__image">
			<img src="/assets/images/header-s.jpg" alt="" class="desktop-hidden">
		</div>

		<div class="hero__content">
			<h2 class="title">#source2sea</h2>

			<p class="text">Paddling down the entire river Rhine on a board made from plastic waste: from its pristine source in Switzerland to where it empties into the North Sea after 1200 kilometres. Along with all the plastic waste it has gathered.</p>
		</div>
	</div>
</section>
