@import (reference) "variables";

.grid {
  display: flex;
  flex-direction: column;

  @media @m {
    flex-direction: row;
  }
}

.grid--centered {
  align-items: center;
}

.grid__item {
  width: 100%;
  padding: @margin-default;

  @media @m {
    width: 50%;
  }
}

.grid__item-image {
  max-width: 100%;
}