<section class="hero hero-home">
    <div class="hero__image">
        <img src="/assets/images/header-home.png" alt="">
    </div>

    <div class="hero__content centered-column">
        <h3 class="subtitle">My current adventure:</h3>
        <h2 class="title">Pick Up 10</h2>
        <p class="text">
            Pers presentatie 'Pick Up 10'. De 'monitoring revolutie' met partners Google & Litterati Vrijdag 10u Rijnsburgstraat 11 Amsterdam Aanmelden via site enzo.
        </p>
        <a href="#" class="button button--primary button--full-width">Read more</a>
    </div>
</section>
