<section class="hero">
	<div class="centered-column">
		<div class="hero__image">
			<img src="/assets/images/header-s.jpg" alt="" class="desktop-hidden">
		</div>

		<div class="hero__content">
			<h2 class="title">#source2sea</h2>

			<p class="text">Padding down the entire river Rhine on a board made from plastic waste: from its pristine source in Switzerland to where it flows into the North Sea 1200km further down. And along with him all the plastic waste the Rhine has gathered.</p>

			<a href="/expedition" class="button button--primary">Read more</a>
		</div>
	</div>
</section>