.hero {
	@media @m {
		padding: @margin-double*4 0;
		background: url('/assets/icons/header-wave.svg') bottom center / 100% auto no-repeat,
					url('/assets/images/header.jpg') top center / cover no-repeat;
	}

	.hero__image {
		margin: 0 -@margin-default @margin-default -@margin-default;

		img {
			width: 100%;
			height: auto;
		}
	}

	.hero__content {
		.title {
			color: @brand-blue;
		}

		.text {
			margin-bottom: @margin-double;
			font-weight: bold;
			line-height: 1.8;
		}

		@media @m {
			width: 45%;

			.title {
				color: @brand-pink;
				text-shadow: 3px 3px 0 @brand-blue;
			}
		}
	}

	&-home {
		.hero__content .text {
			@media @m {
				color: @white;
    			text-shadow: 1px 1px 0 @brand-blue;
			}
		}
	}
}
