{% macro hero(title, subtitle, description, image, button) %}
    <section class="hero">
        <div class="hero__image">
            <img src="{{ image }}" alt="">
            <div class="hero__image__wave">
                {% from '../wave/wave.html' import wave %}
                {{ wave(fillColor='#fff') }}
            </div>
        </div>

        <div class="hero__content centered-column">
            {% if subtitle %}
                <h3 class="subtitle">{{ subtitle }}</h3>
            {% endif %}
            <h2 class="title">{{ title }}</h2>
            <p class="description">
                {{ description }}
            </p>
            {% if button %}
                <a
                    href="{{ button.url }}"
                    class="button button--primary button--full-width"
                >
                    {{ button.text }}
                </a>
            {% endif %}
        </div>
    </section>
{% endmacro %}
