<div class="centered-column">
  <p class="introduction-text">
    The Plastic Soup Surfer strives for <strong class="introduction-text__highlight">a plastic free ocean</strong> and uses his surfboard as a weapon. 
    Through his surprising expeditions he focuses the attention on 
    the problem of plastic in our environment. 
    He seeks the solutions in awareness and behavioral change for consumers, 
    legislators and producers alike. 
    His energy is aimed at preventing that plastic debris reaches our seas.
  </p>
</div>