<section class="events-list centered-column">
	<h2>Events</h2>

	<div class="two-columns">
		<div class="left-column">
			<h3>Upcoming events</h3>

			<article class="event">
				<div class="event--image">
					<span style="background-image: url('http://placehold.it/150x95');"></span>
				</div>

				<div class="event--content">
					<div class="event--meta">
						<h4 class="event--title">Really long event title</h4>
						<span class="event--date">September 12th - 2017 - Really long placename</span>
					</div>

					<div class="event--description">
						The monkey-rope is found in all whalers; but it was only in the Pequod The monkey-rope is found in all whalers; but it was only in the Pequod
					</div>
				</div>
			</article>

			<article class="event">
				<div class="event--image">
					<span style="background-image: url('http://placehold.it/150x95');"></span>
				</div>

				<div class="event--content">
					<div class="event--meta">
						<h4 class="event--title">Event title</h4>
						<span class="event--date">June 12th - 2017 - Placename</span>
					</div>

					<div class="event--description">
						The monkey-rope is found in all whalers; but it was only in the Pequod
					</div>
				</div>
			</article>

			<article class="event">
				<div class="event--image">
					<span style="background-image: url('http://placehold.it/150x95');"></span>
				</div>

				<div class="event--content">
					<div class="event--meta">
						<h4 class="event--title">Event title</h4>
						<span class="event--date">June 12th - 2017 - Placename</span>
					</div>

					<div class="event--description">
						The monkey-rope is found in all whalers; but it was only in the Pequod
					</div>
				</div>
			</article>
		</div>

		<div class="right-column">
			<h3>Past events</h3>

			<article class="event">
				<div class="event--image">
					<span style="background-image: url('http://placehold.it/150x95');"></span>
				</div>

				<div class="event--content">
					<div class="event--meta">
						<h4 class="event--title">Event title</h4>
						<span class="event--date">June 12th - 2017 - Placename</span>
					</div>

					<div class="event--description">
						The monkey-rope is found in all whalers; but it was only in the Pequod
					</div>
				</div>
			</article>

			<article class="event">
				<div class="event--image">
					<span style="background-image: url('http://placehold.it/150x95');"></span>
				</div>

				<div class="event--content">
					<div class="event--meta">
						<h4 class="event--title">Event title</h4>
						<span class="event--date">June 12th - 2017 - Placename</span>
					</div>

					<div class="event--description">
						The monkey-rope is found in all whalers; but it was only in the Pequod
					</div>
				</div>
			</article>

			<article class="event">
				<div class="event--image">
					<span style="background-image: url('http://placehold.it/150x95');"></span>
				</div>

				<div class="event--content">
					<div class="event--meta">
						<h4 class="event--title">Event title</h4>
						<span class="event--date">June 12th - 2017 - Placename</span>
					</div>

					<div class="event--description">
						The monkey-rope is found in all whalers; but it was only in the Pequod
					</div>
				</div>
			</article>
		</div>
	</div>
</section>