.events-list {
    display: flex;
    flex-direction: column;
	margin-bottom: @margin-double;

	.two-columns{
		display: block;

		@media @m {
			display: flex;
		}

		.left-column{
			width: 100%;
			margin-bottom: @margin-double;
			padding-right: 0;

			@media @m {
				@border-width: 3px;
				width: calc(~'52% -' @border-width ~'-' @margin-default);

				margin-bottom: 0;
				padding-right: @margin-default;
				border-right: @border-width dashed @brand-pink;
			}
		}

		.right-column{
			width: 100%;
			padding-left: 0rem;

			@media @m {
				width: 48%;
				padding-left: @margin-default;
			}
		}
	}

	.event {

		@image-width: 150px;
		display: flex;
		margin-bottom: @margin-default;
		background: @grey-light;

		&:last-child {
			margin-bottom: 0;
		}

		&--image {
			display: block;
			flex: 1 1 auto;
			width: @image-width;
			padding-top: 30%;
			float: left;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;

			& > span {
				display: block;
				width: 100%;
				height: 0;
				padding-top: 63.33%;
			}
		}

		&--content {
			flex: 0 0 auto;
			width: 100%;
			padding: @margin-default;

			@media @m {
				width: calc(~'100% - '@image-width);
				float: right;
			}
		}

		&--title {
			margin-bottom: .2rem;
			.truncate-text();
		}

		&--date {
			display: inline-block;
			font-size: @text-size-small;
			text-align: right;
			.truncate-text();
		}

		&--description {
			font-size: @text-size-small;
			word-break: break-all; // Fallback for IE11
			word-break: break-word;
		}
	}
}
