<section class="events-list centered-column">
	<h2>Events</h2>

	<div class="two-columns">
		<div class="left-column">
			<h3>Upcoming events</h3>

			{% for event in upcomingEvents %}
			<article class="event">
				<div class="event--image mobile-hidden">
					<span style="background-image: url('{{ event.image.fields.file.url }}?w=150&h=95&fit=fill');"></span>
				</div>

				<div class="event--content">
					<h4 class="event--title">{{ event.title }}</h4>
					<span class="event--date">{{ event.date }}</span>

					<div class="event--description">
						{{ event.description }}
					</div>
				</div>
			</article>
			{% endfor %}
		</div>

		<div class="right-column">
			<h3>Past events</h3>

			{% for event in pastEvents %}
			<article class="event">
				<div class="event--image mobile-hidden">
					<span style="background-image: url('{{ event.image.fields.file.url }}?w=150&h=95&fit=fill');"></span>
				</div>

				<div class="event--content">
					<h4 class="event--title">{{ event.title }}</h4>
					<span class="event--date">{{ event.date }}</span>

					<div class="event--description">
						{{ event.description }}
					</div>
				</div>
			</article>
			{% endfor %}
		</div>
	</div>
</section>
