{%- extends "views/_base/layout.html" -%}

{% block title %}Source 2 Sea Expedition{% endblock %}
{% block viewClass %}campaigns-view{% endblock %}

{%- block content -%}

    {% from 'components/hero/hero.html' import hero %}
    {{ hero(
        title='#source2sea',
        description="Long distance expedition on SUP board made from plastic litter to high-light the role of our rivers as a major source of plastic pollution. Movie director Eelke Dekker followed the Plastic Soup Surfer during his voyage from the high mountains of Switzerland all the way down to the North Sea.",
        image='/assets/images/header--canoe.jpg'
    ) }}

    {% from "components/video-player/video-player.html" import videoPlayer %}
    {{ videoPlayer('https://www.youtube-nocookie.com/embed/uDI1fD0_ma8?rel=0&showinfo=0') }}

    <section>
        <div class="centered-column">
            <p>
                By paddling down the iconic river Rhine we wanted to focus the attention to the rivers as one of the major sources of plastic pollution. It is your own back yard where the ‘Plastic Soup’ originates. Rivers transport mismanaged waste, litter and many tons of micro-plastics to our seas and oceans.During the challenging +1000 kilometer expedition we visited stakeholders, specialists and were able to spread our message via several regional and national media along the banks of the river Rhine. The <a href="https://youtu.be/bD4pG4OOtZc">Plastic Waste Board</a> was made by the Science Center of the Technical University of Delft.
            </p>
            <a href="https://vimeo.com/246456310" class="button button--primary">View movie trailer</a>
        </div>
    </section>

    <img src="/assets/images/campaign-content--source-to-sea.jpg" width="960" alt="" class="campaigns-view__image">

    {% from "components/quote/quote.html" import quote %}
    {{ quote('I am not accusing plastic as a material. I am accusing our attitude towards plastic') }}

    {% from 'components/partners-list/partners-list.html' import partnersList %}
    {{ partnersList([
        'starboard',
        'hikeOne',
        'deVoorhoede',
        'tomra',
        'adessium',
        'sciencedelft',
        'waterRanger',
        'vaude',
        'edoSmid',
        'horchner',
        'recyclingNetwerk',
        'watersportverbond',
        'plasticsoup',
        'entropyResins',
        'deutscheUmwelthilfe',
        'ivn',
        'technolyt',
        'deNoordzee',
        'canoeDederation',
        'surfriderFoundation'
    ]) }}

{%- endblock -%}
