<section class="hero hero--exploot">
	<div class="centered-column">
		<div class="hero__image">
			<img src="/assets/images/plastic-soup-s.jpg" alt="" class="desktop-hidden">
		</div>

		<div class="hero__content">
			<h2 class="title">CEO Warrant</h2>

			<p class="text">An 'Awareness Warrant' (desbewustheids exploot) is a Dutch judicial notice delivered by a bailiff (deurwaarder) and addresses a real person. Our warrants address twenty CEOs of twenty powerful companies. Men and women who have decisive influence to evoke change to reduce ‘their’ impact on our environment.</p>			
		</div>
	</div>
</section>
