.hero--exploot {
	padding: 0;

	@media @m {
		padding: 3rem 0 5rem 0;
		background: url('/assets/icons/header-wave.svg') bottom center / 100% auto no-repeat,
					url('/assets/images/plastic-soup.jpg') center / cover no-repeat;
	}

	.hero__image {
		margin: 0 -@margin-default @margin-default -@margin-default;

		img {
			width: 100%;
			height: auto;
		}
	}

	.hero__content {
		width: 100%;

		p {
			margin-bottom: @margin-default;
		}

		@media @m {
			width: 75%;
			color: @white;

			h2 {
				.light-text-on-dark-background;
				text-shadow: 3px 3px 0 @brand-pink;
				color: @white;
			}
		}
	}
}