<section class="hero hero--exploot">
	<div class="centered-column">
		<div class="hero__image">
			<img src="/assets/images/plastic-soup-s.jpg" alt="" class="desktop-hidden">
		</div>

		<div class="hero__content">
			<h2 class="title">Target those in power!</h2>

			<p class="text">We have reached our goal of 10 bailiffs (in Dutch: deurwaarders)! Ten bailiffs who will confront ten CEO's of the plastic producing and packaging companies whose litter I found in the Rhine. But we will not stop at 10. We can make an even bigger impact with 40 bailiffs. We need you to reach our extended goal! Get yourself a share. Be part of the movement. Together we can make a difference!</p>			
		</div>
	</div>
</section>
