<section class="hero hero--exploot">
	<div class="centered-column">
		<div class="hero__image">
			<img src="/assets/images/plastic-soup-s.jpg" alt="" class="desktop-hidden">
		</div>

		<div class="hero__content">
			<h2 class="title">Target those in power!</h2>

			<p class="text">Who is responsible for the ‘end-of-life’ of a plastic product sold? The company producing it of course! And we urge the Chief Executive of these companies to take their responsibility right now!</p>

			<p class="text">We will confront them with their plastic litter we find in the Rhine. And to make sure they listen, a judicial officier will deliver them a formal notice. We are serious and we will be heard! Because we want a change!</p>
		</div>
	</div>
</section>
