.call-to-donate {
    display: flex;
    flex-direction: column;

    @media @m {
        flex-direction: row;
        margin-bottom: -5rem;

        &__illustration {
            width: 100%;
            max-width: @text-max-width;
            margin-right: @margin-quadruple;
        }

        &__content a {
            width: auto;
        }
    }
}
