.call-to-donate {
    display: flex;
    flex-direction: column;
    
    &__content p {
        max-width: 25em;
    }

    @media @m {
        flex-direction: row;
        margin-bottom: -5rem;

        &__illustration {
            width: 100%;
            max-width: 25em;
            margin-right: @margin-quadruple;
        }

        &__content a {
            width: auto;
        }
    }
}
