{% macro callToDonate(title, description, buttonLabel, buttonLink) %}
    <section class="call-to-donate centered-column">
        <div class="call-to-donate__illustration mobile-hidden">
            <img src="/assets/icons/mascot-next.svg" alt="thumbs up from the plastic soup surfer">
        </div>
        <div class="call-to-donate__content">
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
            <a href="{{ buttonLink }}" class="button button--primary button--full-width">{{ buttonLabel }}</a>
        </div>
    </section>
{% endmacro %}
