{%- extends "views/_base/layout.html" -%}
{% from "components/quote/quote.html" import quote %}

{% block title %}Source 2 Sea Expedition{% endblock %}

{%- block content -%}

  {% include "components/hero-source2sea/hero-source2sea.html" %}

	{% include "components/video-player/video-player.html" %}
  
  {% include "components/map/map.html" %}

	{% include "components/hero-expedition/hero-expedition.html" %}

	{% include "components/paddle-board-info/paddle-board-info.html" %}

	{% include "components/waste-statistics/waste-statistics.html" %}

	{{ quote('Changes in design and legislation should be acted upon with priority wherever there is risk of plastic litter ending up in a river, lake or sea', 'Merijn Tinga') }}

	{% include "components/partners-list/partners-list.html" %}

{%- endblock -%}
