{%- extends "views/_base/layout.html" -%}
{% from "components/quote/quote.html" import quote %}

{%- block content -%}

	{% include "components/video-player/video-player.html" %}

	{% include "components/hero-expedition/hero-expedition.html" %}

	{% include "components/paddle-board-info/paddle-board-info.html" %}

	{% include "components/waste-statistics/waste-statistics.html" %}

	{{ quote('The needless and superfluous plastic packaging must put to a halt wherever there are risks of littering', 'Merijn Tinga') }}

	{% include "components/partners-list/partners-list.html" %}

{%- endblock -%}