.progress {
	.map ~ & {
		margin-top: @margin-double;
	}

	.left-column {
		display: flex;
		align-items: center;
		width: 45%;

		.progress {
			.clearfix();
			float: left;
			width: 50%;
			font-family: @font-header;
			font-size: @text-size-bigger;
			font-weight: bold;

			&:before {
				content: '';
				float: left;
				display: block;
				margin-right: @margin-half*1.5;
				width: 50px;
				height: 50px;
			}

			&__title {
				margin-bottom: @margin-half/2;
				color: @grey;
			}
		}

		.progress--days:before {
			background: url('/assets/icons/calendar.svg') center no-repeat;
		}

		.progress--distance:before {
			background: url('/assets/icons/route.svg') center / 100% auto no-repeat;
		}
	}

	.right-column {
		display: flex;
		justify-content: space-between;
		padding: @margin-default*1.5 @margin-double*1.5;
		width: 55%;
		background: @grey-light;
		font-size: @text-size-bigger;

		.call-to-action {
			float: left;
			width: 60%;
			line-height: 1.2;

			p {
				margin: 0;
			}
		}

		.button {
			float: right;
			align-self: center;
			padding-left: @margin-double*1.5;
			padding-right: @margin-double*1.5;
		}
	}
}