<div class="progress two-columns">
	<div class="left-column">
		<div class="progress progress--days">
			<div class="progress__title">Days</div>
			<div class="progress__content">28/28</div>
		</div>

		<div class="progress progress--distance">
			<div class="progress__title">Distance</div>
			<div class="progress__content">1200/1200km</div>
		</div>
	</div>

	<div class="right-column">
		<div class="call-to-action">
			<p>Help against plastic waste</p>
			<p>Come join the movement!</p>
		</div>

		<a href="/donate" class="button button--primary">Donate</a>
	</div>
</div>
