.sequential-article {
    position: relative;
    margin-left: 16px;
    padding: 0 0 32px 48px;
    border-left: 3px solid @brand-highlight;

    @media @m {
        margin-left: 25px;
    }

    &:last-of-type {
        margin-left: calc(16px + 3px);
        border: none;

        @media @m {
            margin-left: calc(25px + 3px);
        }

    }

    &::before {
        display: block;
        position: absolute;
        top: 0;
        left: -12px;
        width: 21px;
        height: 31px;
        background-image: url("../icons/sequential-middle.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }

    &--first {
        &::before {
            background-image: url("../icons/sequential-start.svg");
        }
    }

    &--last {
        &::before {
            background-image: url("../icons/sequential-end.svg");
        }
    }

    &__title {
        color: @brand-blue;
        font-size: 1.5rem;

         @media @m {
            font-size: 2.25rem;
        }
    }
}
