<section class="past-adventures">
	<div class="centered-column">
		<h2>Past adventures</h2>

		<ul class="adventures flat-list">
			<li class="adventure">
				<img src="/assets/images/adventure--message-on-a-bottle.jpg" alt="">
				<h3>Message on a bottle<span> - 2016</span></h3>
				<p>The Plastic Soup Surfer built a surfboard from littered soda bottles and surfed this across the North Sea from Scheveningen (NL) to Lowestoft (UK) – 176km. A bold attempt and never done before on a hydrofoil kitesurfboard. It proved to be a rough nine hour journey...</p>
				<a href="#">www.plasticfreesea.nl/messageonabottle</a>
			</li>
			<li class="adventure">
				<img src="/assets/images/adventure--plastic-hunters.jpg" alt="">
				<h3>Plastic hunters<span> - 2015</span></h3>
				<p>Last summer he went on a five month sailing expedition with his wife and two kids. They sailed to Norway, Sweden, Finland, Estland and Poland. He made educational videos with his daughter for her class and other primary schools about their adventures...</p>
				<a href="#">www.plasticjagers.nl</a>
			</li>
			<li class="adventure">
				<img src="/assets/images/adventure--plastic-soup-board.jpg" alt="">
				<h3>Plastic Soup Board<span> - 2014</span></h3>
				<p>In the summer of 2014 visual artist Merijn Tinga built a surfboard from plastic trash he found on the beach; a statement. From then on he was known as the Plastic Soup Surfer. To emphasize the statement he attempted to surf the board along the entire Dutch coast: from Belgium to Germany. A record. If he made it...</p>
				<a href="#">www.plasticfreesea.nl/plasticsoupboard</a>
			</li>
		</ul>
	</div>
</section>