<section class="past-adventures">
	<div class="centered-column">
		<h2>Past adventures</h2>

		<ul class="adventures flat-list">
			<li class="adventure">
				<img src="/assets/images/adventure--message-on-a-bottle.jpg" alt="">
				<h3>Message on a bottle<span class="adventure__date"> - 2016</span></h3>
				<p>In September 2016 he hydrofoil-kite-surfs across the North Sea from Scheveningen (NL) to Lowestoft (UK) on a surfboard made from littered soda bottles. This record attempt marks the start of a petition that calls for a deposit fee on small PET bottles. It was signed over 57 thousand times. In February 2017 Dutch parliament adopts the resolution he presents along with the petition. </p>
				<a href="http://plasticfreesea.nl/message-on-a-bottle/">plasticfreesea.nl/message-on-a-bottle</a>
			</li>
			<li class="adventure">
				<img src="/assets/images/adventure--plastic-hunters.jpg" alt="">
				<h3>Plastic Hunters<span class="adventure__date"> - 2015</span></h3>
				<p>In the summer of 2015 he goes on a five month sailing expedition with his wife and kids. They sail to Norway, Sweden, Finland, Estonia and Poland. He makes educational VLOGS with his daughter, takes water samples looking for microplastics using a manta trawl and conducts beach cleans on a daily basis.</p>
				<a href="http://www.plasticjagers.nl">plasticjagers.nl</a>
			</li>
			<li class="adventure">
				<img src="/assets/images/adventure--plastic-soup-board.jpg" alt="">
				<h3>Plastic Soup Board<span class="adventure__date"> - 2014</span></h3>
				<p>In the summer of 2014 visual artist Merijn Tinga builds a surfboard from plastic trash he finds on the beach; a statement. To emphasize the statement he attempts to surf the board along the entire Dutch coast: from Belgium to Germany. After three days he gives up but it does earn him a nickname; the Plastic Soup Surfer.</p>
				<a href="http://plasticfreesea.nl/surfboard-from-plastic-waste/">plasticfreesea.nl/surfboard-from-plastic-waste</a>
			</li>
		</ul>
	</div>
</section>