.social-card {
	padding: @margin-default;
	background: @white;
	display: block;

	&__panel-text {
		line-height: 1.5;
		height: 45%;
		overflow: hidden;
	}

	&__panel-image {
		margin: -@margin-default -@margin-default @margin-default -@margin-default;
		padding-bottom: 7rem;
		height: 0;
		background-position: center;
		background-size: cover;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		@media @m {
			padding-bottom: 43%; //made the image slightly less high to have more space for the text
		}
	}

	&__panel-social {
		position: absolute;
		left: @margin-default;
		top: @margin-default;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 2.5rem;
		background: @white;
		text-align: center;
		line-height: 3.5rem;

		img {
			width: 1.5rem;
			height: auto;
		}
	}
}