.social-card {
	padding: @margin-default;
	background: @white;
	display: block;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;

	&__panel-text {
		height: 51%;
		overflow: hidden;

		@media @m {
			height: 31%;
		}

		p {
			line-height: 1.4;
		}

		p:empty {
			display: none;
		}
	}

	&__panel-image {
		margin: -@margin-default -@margin-default @margin-default -@margin-default;
		padding-bottom: 7rem;
		display: block;
		height: 0;
		background-position: center;
		background-size: cover;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		@media @m {
			padding-bottom:71%;
		}

		&.fallback {
			background-image: url('/assets/images/logo-large.png');
		}
	}

	&__panel-social {
		float: left;
		margin: .1rem @margin-default 0 0;
		width: 2rem;
		height: 2rem;
		border-radius: 2rem;

		img {
			width: 100%;
			height: auto;
		}
	}
}
