{% macro socialCard(content) %}
<div class="social-card">
	{% 
		set icons = {
			'Twitter' : '/assets/icons/twitter-icon.svg',
			'Facebook' : '/assets/icons/facebook-icon.svg',
			'YouTube' : '/assets/icons/youtube-icon.svg',
			'Vimeo' : '/assets/icons/vimeo-icon.svg'
		} 
	%}

	{% if content.imageUrl %}
		<div class="social-card__panel-image" style="background-image: url('{{ content.imageUrl }}');">
		</div>
	{% endif %}

	{% if content.body %}
		<div class="social-card__panel-text">
			{% if content.social %}
				<div class="social-card__panel-social">
					<a href="{{ content.social.url }}"><img src="{{ icons[content.social.type] }}" alt="{{ content.social.type }}"></a>
				</div>
			{% endif %}

			<p>{{ content.body | safe }}</p>
		</div>
	{% endif %}

	{% if content.call_to_action %}
		<a href="{{ content.call_to_action.url }}" class="button button--primary button--full-width">{{ content.call_to_action.label }}</a>
	{% endif %}
</div>
{% endmacro %}