{% from "components/video-player/video-player.html" import videoPlayer %}
{% from "components/quote/quote.html" import quote %}

<section class="statiegeld centered-column">
  <h2 class="statiegeld__title">This is how far we’ve come already!</h2>
  {{ videoPlayer('https://www.youtube-nocookie.com/embed/hpUr_0Ca1Eo') }}

  <div class="grid">

    <div class="grid__item">
      <img src="/assets/icons/statiegeld.svg" alt="">
    </div>

    <div class="grid__item">
      <h2>Deposit Return in 2021!</h2>
      <p class="text">
        Government used the so called ‘Plastic Soup Surfer Resolution’
        (passed Februari 2017) to formulate a new strategy to reduce
        plastic litter.
        It looks to implement deposit return on small plastic bottles
        beginning in 2021. A step in the right direction.
        As it is politics there are still many uncertainties and
        industry is not willing.
      </p>
    </div>

  </div>

  {{ quote('15 March the Dutch government voted YES to statiegeld on small bottles and cans.', wide=true) }}

</section>
