{% from "components/quote/quote.html" import quote %}

<section class="hero hero--plastic-surfer">
	<div class="centered-column">
		<div class="hero__content">
			<h2 class="title">The Plastic Soup Surfer</h2>

			<p class="text">Merijn Tinga, better known as The Plastic Soup Surfer, is on a mission. He wants to stop the increasing plastic pollution of the marine environment. His campaigns are aimed at preventing plastic litter in the first place. The surfboard he used for this expedition is made from plastic litter and is a statement by itself. Merijn paddled down the Rhine in 28 days. In #Source2Sea, he shows how much plastic litter is found along the Rhine and demonstrated that this litter eventually washes out to sea and is lost forever.</p>

			<p class="text">His focus is on the sources of riverine plastic litter and he will hold accountable the companies that produced the plastic products. He calls out to you to help address the chief executives of the plastic producing and packaging companies by sending them a formal notice. Because we need a change!</p>

			{{ quote("Plastic waste should not exist at all, it should be regarded as a resource", mobileHidden=true, wide=true) }}
		</div>

		<div class="hero__image" data-hero--image>
			<img src="/assets/images/merijn.jpg" alt="">
		</div>
	</div>

	<div class="hero__wave"></div>
</section>
