{% from "components/quote/quote.html" import quote %}

<section class="hero hero--plastic-surfer">
	<div class="centered-column">
		<div class="hero__content">
			<h2 class="title">The Plastic Soup Surfer</h2>

			<p class="text">The Plastic Soup Surfer strives for a plastic free sea and uses his surfboard as a weapon. Through his surprising expeditions he focuses the attention on the problem of plastic in our environment. He seeks the solutions in awareness and behavioral change for consumers, legislators and producers alike. His energy is aimed at preventing that plastic debris reaches our seas.</p>

			<p class="text">Plastic Soup Surfer (44y) is a biologist and visual artist who has been surfing since he was eight.</p>

			{{ quote("Plastic waste should not exist at all, it should be regarded as a resource", mobileHidden=true) }}
		</div>

		<div class="hero__image">
			<img src="/assets/images/merijn.png" alt="" class="desktop-hidden">
		</div>

		<div class="hero__wave"></div>
	</div>
</section>