{% macro adventuresList(amount) %}
    <ul class="adventures-list flat-list">
        {% for adventure in adventuresData.slice(0, amount) %}
            {{ adventureItem(adventure) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro adventureItem(adventure) %}
    <li class="adventure">
        <div class="adventure__head">
            <img
                src="/assets/images/adventure--{{ adventure.image }}.jpg"
                alt=""
                class="adventure__image"
            >
            <h4 class="adventure__title h3">{{ adventure.title }}</h4>
        </div>
        <p>
            {{ adventure.description }}
            <a href="{{ adventure.url }}" class="adventure__details-link">
                See more
            </a>
        </p>
    </li>
{% endmacro %}

{% set adventuresData = [
    {
        title: 'From source to sea',
        description: 'A 1000km Stand Up Paddle expedition showing the role rivers play in plastic pollution transport.',
        image: 'source-to-sea',
        url: '/adventures/source2sea'
    },
    {
        title: 'Message on a bottle',
        description: 'A record attempt to cross the North Sea on a board from plastic bottles to get deposit fee implemented.',
        image: 'message-on-a-bottle',
        url: 'http://plasticfreesea.nl/message-on-a-bottle/'
    },
    {
        title: 'Plastic Soup Board',
        description: 'The first surfboard Merijn Tinga made was meant as an artwork. The record attempt on it made him the Plastic Soup Surfer.',
        image: 'plastic-soup-board',
        url: 'http://plasticfreesea.nl/surfboard-from-plastic-waste/'
    },
    {
        title: 'Sending bailiffs',
        description: 'World first use of bailiffs to confront CEOs of plastic producing companies.',
        image: 'bailiffs',
        url: '/adventures/bailiffs'
    }
] %}
