{%- extends "views/_base/layout.html" -%}

{% block title %}A plastic free ocean{% endblock %}

{%- block content -%}

    {% from 'components/hero/hero.html' import hero %}
    {{ hero(
        title='Creative campaigning against plastic pollution!',
        image='/assets/images/header--home.jpg'
    ) }}

    {% include "components/taking-action/taking-action.html" %}

    {% include "components/events-list/events-list.html" %}

    {% include "components/call-to-donate/call-to-donate.html" %}

    {% include "components/social-media-carousel/social-media-carousel.html" %}


{%- endblock -%}
