{%- extends "views/_base/layout.html" -%}

{% block title %}A plastic free ocean{% endblock %}

{%- block content -%}

  {% include "components/hero/hero.html" %}

  {% include "components/introduction-text/introduction-text.html" %}

  {% include "components/past-adventures/past-adventures.html" %}

  {% include "components/achievements/achievements.html" %}

  {% include "components/call-to-donate/call-to-donate.html" %}

  {% include "components/social-media-carousel/social-media-carousel.html" %}

  {% include "components/events-list/events-list.html" %}

{%- endblock -%}
