{%- extends "views/_base/layout.html" -%}

{% block title %}A plastic free ocean{% endblock %}

{%- block content -%}

    {% from 'components/hero/hero.html' import hero %}
    {{ hero(
        title='Creative campaigning against plastic pollution!',
        image='/assets/images/header--home.jpg'
    ) }}

    {% include "components/taking-action/taking-action.html" %}

    {% include "components/events-list/events-list.html" %}

    {% from 'components/call-to-donate/call-to-donate.html' import callToDonate %}
    {{ callToDonate(
        title="Let's do something!",
        description="We are starting to drown in our plastic pollution. It is endangering all life on earth. We need to act now.",
        buttonLabel="Take action!",
        buttonLink="/donate"
    ) }}

    {% include "components/social-media-carousel/social-media-carousel.html" %}


{%- endblock -%}
