.video-player {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;

    &__wrapper {
        position: relative;
        height: 0;
        // 16:9 aspect ratio
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    &__captions {
        margin-top: 5px;
    }

    &__caption {
        display: block;
    }

    &__captions:first-child {
        margin-bottom: 50px;
    }
}
