{% from "../text-image/text-image.html" import textImage %}
<section class="taking-action centered-column">
    <h2 class="taking-action__title">Taking action</h2>

    {% call textImage('/assets/images/take-action--public-campaigns.jpg') %}
        <h3 class="text-image__title">Public campaigns</h3>
        <p>Our 2016 surfing record attempt was the start to a petition, which eventually led to a resolution which was then used for new policy.</p>
        <a href="/campaigns">All campaigns</a>
    {% endcall %}

    {% call textImage('/assets/images/take-action--organizing-vision.jpg', true) %}
        <h3 class="text-image__title">Organizing vision</h3>
        <p>Uniting the community of plastic-warriors we stay focussed and become stronger. We keep developing our vision on a sustainable approach to plastic.</p>
        <a href="https://plasticavengersmanifest.org/" rel="noreferrer nofollow">Plastic avengers</a>
    {% endcall %}

    {% call textImage('/assets/images/take-action--dialogue.jpg') %}
        <h3 class="text-image__title">Dialogue and presentations</h3>
        <p>Regular meetings with legislators and companies, frequently giving talks and showing our films enables us to influence the public debate on plastic.</p>
        <a href="#footer">contact</a>
    {% endcall %}
</section>
