<section class="donate" id="donate">
    <div class="donate__description centered-column">
        <h2>Donate</h2>
        <p>
            The Plastic Soup Surfer works with a small team of dedicated and skilled volunteers. We think of our agile and nimble ways as our strongpoint. We want to be able react quickly when new opportunities and innovations arise. We believe in creativity in campaigning and our strategies and tactics develop all the time. But it is a long persistent fight and a full time job. We need your support to keep us going! For our current campaign Pick Up 10 we still need money to get the new board 3D printed.
        </p>
    </div>

    <div class="donate__box">
        <h3><strong>YES,</strong> I want to buy my share for a new board and support the fight!</h3>

        <form data-donate-form action="/api/donations/add" method="POST">
            {% set exploot = exploot[0] %}

            <dl class="donate__items">
                <dt>One share</dt>
                <dd>€ 5,-</dd>
                <dt>
                            <label class="donate__label" for="extra">
                                Extra optional donation
                                <span class="extra-info">for the Plastic Soup Surfer expeditions</span>
                            </label>
                        </dt>
                <dd>
                    € <input class="donate__input" type="number" min="0" name="extra" id="extra" step="0.50" placeholder="0,00">
                </dd>
            </dl>

            <dl class="donate__total">
                <dt>Total</dt>
                <dd data-total>€ 5,-</dd>
            </dl>

            <div class="donate__fine-print">
                <p>By pressing 'donate' you will be redirected to the payment area where payment options can be selected. You will be sent back to this website afterwards.</p>
            </div>

            <input class="button button--primary button--full-width" type="submit" value="Donate">
        </form>
    </div>

    <img src="/assets/icons/mascot-next.svg" class="donate__mascot desktop-hidden" alt="">
</section>
