<section class="donate" id="donate">
    <div class="donate__description centered-column">
        <h2>Donate</h2>
        <p>
            The Plastic Soup Surfer works with a small team of dedicated and skilled volunteers. We think of our agile and nimble ways as our strongpoint. We want to be able react quickly when new opportunities and innovations arise. We believe in creativity in campaigning and our strategies and tactics develop all the time. But it is a long persistent fight and a full time job.
        </p>
        <p>
            We need your support to stop plastic pollution at the source!
        </p>
    </div>

    <div class="donate__box">
        <h3><strong>YES,</strong> I fully support your work! Stop plastic pollution at the source!</h3>

        <form data-donate-form action="/api/donations/add" method="POST">
            {% set exploot = exploot[0] %}

            <dl class="donate__items">
                <dt>
                    <label class="donate__label" for="amount">
                        Open donation:
                    </label>
                </dt>
                <dd>
                    € <input class="donate__input" type="number" min="0" name="amount" id="amount" step="0.50" placeholder="0,00" required>
                </dd>
            </dl>

            <div class="donate__fine-print">
                <p>By pressing 'donate' you will be redirected to the payment area where payment options can be selected. You will be sent back to this website afterwards.</p>
            </div>

            <input class="button button--primary button--full-width" type="submit" value="Donate">
        </form>
    </div>

    <img src="/assets/icons/mascot-next.svg" class="donate__mascot desktop-hidden" alt="">
</section>
