.donate {
	padding: @margin-default 0;
	background-color: @grey-light;

	@media @m {
		padding: @margin-default*4 0;

		.centered-column {
			position: relative;
		}
	}

	.two-columns {
		display: block;

		.left-column,
		.right-column {
			width: 100%;
		}

		@media @m {
			display: flex;
			padding-bottom: 5em;

			.left-column {
				flex: 1 1 55%;
				padding-right: @margin-default*4;
			}

			.right-column {
				flex: 1 1 45%;
				width: 45%;
			}
		}

		@media @l {
			.left-column {
				flex: 1 1 60%;
			}

			.right-column {
				flex: 1 1 40%;
				width: 45%;
			}
		}
	}

	&__box {
		padding: @margin-default;
		border-radius: 2px;
		background: @white;
		box-shadow: 3px 3px 0 0 @grey-lighter;

		h3 {
			font-family: @font-body;
			font-weight: normal;
			text-transform: none;
		}

		dt,
		dd {
			margin-bottom: @margin-default;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		dt {
			display: inline-block;
			width: 69%;
		}

		dd {
			display: inline-block;
			width: 29%;
			margin-left: 0;
			color: @brand-pink;
			font-size: @text-size-bigger;
		}
	}

	&__label {
		.extra-info {
			display: block;
			font-size: @text-size-small;
		}
	}

	&__input {
		width: 4rem;
		padding: @margin-half;
		border: none;
		border-radius: 2px;
		background: @grey-light;
		color: @black;
		font-size: @text-size-default;
	}

	&__total {
		margin-bottom: @margin-double;
		padding-top: @margin-default;
		background: linear-gradient(to right, @brand-pink 33%, rgba(255,255,255,0) 0%) top / 15px 2px repeat-x;
	}

	&__fine-print {
		font-size: @text-size-smaller;
	}

	&__mascot {
		position: absolute;
		bottom: -6.45rem;
		left: 3rem;
		width: 18rem;
		height: 18rem;
		background: url('/assets/icons/mascot.svg') center / cover no-repeat;

		@media @m-l {
			bottom: -7.25rem;
			left: 0;
			width: 25rem;
			height: 25rem;
		}

		@media @l {
			bottom: -7.75rem;
			width: 29rem;
			height: 29rem;
		}
	}
}
