{% from '../wave/wave.html' import wave %}
{% set fadingWaveGradients = '
    <stop offset="20%" stop-color="#d3f0f5"></stop>
    <stop offset="80%" stop-color="#a8dde7"></stop>
' %}
{% set fadingWaveTop = wave(gradient=fadingWaveGradients, id='top') %}
{% set fadingWaveBottom = wave(gradient=fadingWaveGradients, id='bottom') %}

<section class="achievements">
    <div class="achievements__content centered-column">
        <div class="achievements__explanation">
            <h2>Achievements</h2>
            <p>
                In the spring of 2018 the Dutch parliament instated new policy that will see Deposit Fee on small plastic bottles by 2021 thus preventing tens of millions of bottles entering our environment every year. This policy was based on the ‘Plastic Soup Surfer resolution’ that was adopted a year earlier.
            </p>
        </div>
        <div class="achievements__timeline">
            {% include "assets/icons/timeline-s.svg" %}
        </div>
    </div>
    <div class="achievements__header-wave achievements__header-wave--top">
        {{ fadingWaveTop }}
    </div>
    <div class="achievements__header-wave achievements__header-wave--bottom">
        {{ fadingWaveBottom }}
    </div>
</section>
