@import (reference) "variables";
@import (reference) "core";

@header-height: 88px;
@header-height-mobile: 70px;
@header-border-size: 4px;

.site-header {
    z-index: 1;
    position: relative;
    height:@header-height-mobile;
    box-shadow: 0 @header-border-size 0 0 rgba(0,0,0,0.15);
    text-align: center;

    @media @m {
        height: @header-height;
    }

    .centered-column {
        .valign-center;
        height:100%;
    }

    &__left {
        float:left;
        margin:0;

        figcaption {
            text-transform:uppercase;
            color:@black;
        }
    }

    &__logo {
        float:left;
        margin: .4rem @margin-half .4rem .4rem;
        width: 3.6rem;

        @media @m {
            margin: 0;
            width: 7rem;
        }

        @media @l {
            margin-right:@margin-default;
            width: 8rem;
        }
    }

    &__s2s {
        display:inline-block; 
        vertical-align: middle;
        margin:0; 
        line-height:@header-height-mobile;
        font-size:@text-size-bigger;
        text-shadow: 1px 1px 0 @brand-pink;
        .header;

        @media @m {
            line-height: @header-height;
            text-shadow: none;
        }
    }

    &__right {
        float:right;
        .valign-center;
        height:100%;
    }

    &__right-content {
        display:inline-block;
        vertical-align: middle;
        text-align: right;
    }

    &__nav {
        display:inline-block;
        font-size:@text-size-bigger;
        font-weight:bold;

        li {
            display:inline;
            font-size:@text-size-bigger*.9;
        }
    }

    &__item {
        margin-right:@margin-default;
        text-decoration: none;
        color:inherit;
        padding-bottom:3px;

        @media @l {
            margin-right: @margin-double;
        }

        li:last-child & {
            margin-right:0;
        }

        &--active {
            border-bottom:5px solid @brand-pink;
        }
    }

    &__btn-donate {
        display:block;
        clear:both;
        margin-bottom:@margin-half;
    }

    @progress-bar-height:9px;
    
    &__progressbar {
        height:@progress-bar-height;
        background-color:@brand-highlight-light;
        border-radius:@progress-bar-height;
        overflow:hidden;
    }

    &__progressvalue {
        float:right;
        margin-left:@margin-half;
        color:@brand-highlight;
        font-size:@text-size-smaller;
        line-height:@progress-bar-height;
        vertical-align: middle;
    }

    &__progress {
        height:100%;
        background-color:@brand-highlight;
        border-radius:@progress-bar-height;
    }

    &__mobile-menu-toggle {
        .hide-text();
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        width: 1.5rem;
        height: 1.1rem;
        border: none;
        background: data-uri('/assets/icons/hamburger-menu.svg') center / cover no-repeat;
    }

    &__mobile-menu {
        // display: none;
        position: absolute;
        padding-bottom: @margin-default;
        left: 0;
        top: @header-height-mobile;
        width: 100%;
        background: @white;
        box-shadow: 0 @header-border-size 0 0 rgba(0,0,0,0.15);
    }

    &__mobile-nav {
        margin-bottom: @margin-default;
        font-size: @text-size-bigger;
        font-weight: bold;
        line-height: 2.5;

        .site-header__item {
            margin: 0;
        }
    }
}