@import (reference) "variables";
@import (reference) "core";
@header-height: 88px;
@header-height-mobile: 70px;
@header-border-size: 4px;

.site-header {
    z-index: 1;
    position: relative;
    height: @header-height-mobile;
    background-color: @white;
    text-align: center;
    @media @m {
        height: @header-height;
    }

    .centered-column {
        position: relative;
        height: 100%;
        .valign-center;
    }

    &__mobileheader {
        z-index: 1;
        position: relative;
        background-color: @white;
    }

    &__logo {
        position: absolute;
        top: calc(@header-height / 4);
        left: @margin-default;
        filter: drop-shadow(0 5px 1px rgba(0,0,0,0.4));
        
        @media @m {
            top: @margin-half;
            width: unset;
            height: unset;
        }
    }

    &__s2s {
        display: inline-block;
        margin: 0;
        font-size: @text-size-bigger;
        line-height: @header-height-mobile;
        text-shadow: 1px 1px 0 @brand-pink;
        vertical-align: middle;
        .header;
        
        @media @m {
            line-height: @header-height;
            text-shadow: none;
        }
    }

    &__right {
        height: 100%;
        float: right;
        .valign-center;
    }

    &__right-content {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
    }

    &__nav {
        display: inline-block;
        font-size: @text-size-bigger;
        font-weight: bold;

        li {
            display: inline;
            font-size: @text-size-bigger*.9;
        }
    }

    &__item {
        margin-right: @margin-default;
        padding-bottom: 3px;
        color: inherit;
        text-decoration: none;
        
        @media @l {
            margin-right: @margin-double;
        }

        li:last-child & {
            margin-right: 0;
        }

        &--active {
            border-bottom: 5px solid @brand-highlight;
        }
    }

    &__btn-donate {
        display: block;
        margin-bottom: @margin-half;
        
        @media @m {
            padding-right: @margin-half;
            padding-left: @margin-half;
        }
        
        @media @m-l {
            padding-right: @margin-default*1.5;
            padding-left: @margin-default*1.5;
        }
    }

    &__mobile-menu-toggle {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        width: 3rem;
        height: 3rem;
        padding: 12px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        div {
            position: absolute;
            width: 1.5625rem;
            height: 2px;
            background-color: @brand-highlight;

            &:nth-of-type(1),
            &:nth-of-type(2) {
                transform: translateY(-11px);
                transition: transform 0.3s ease;
            }

            &:nth-of-type(3),
            &:nth-of-type(4) {
                transition: opacity 0.3s ease;
            }

            &:nth-of-type(1) {
                transform-origin: left top;
            }

            &:nth-of-type(2) {
                transform-origin: right top;
            }

            &:nth-of-type(4) {
                transform: translateY(11px);
            }
        }
    }

    &__mobile-menu {
        z-index: -1;
        position: absolute;
        top: @header-height-mobile;
        left: 0;
        width: 100%;
        padding-bottom: @margin-default;
        transform: translateY(0%);
        background: @white;
        box-shadow: 0 @header-border-size 0 0 rgba(0,0,0,0.15);
        opacity: 1;
        transition: transform 0.3s ease, opacity 0.1s ease;

        &.hidden {
            transform: translateY(-110%);
            opacity: 0;
            pointer-events: none;
        }
    }

    &__mobile-nav {
        margin-bottom: @margin-default;
        font-size: @text-size-bigger;
        font-weight: bold;
        line-height: 2.5;

        .site-header__item {
            margin: 0;
        }
    }
}

body.menu-active {
    &::after {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.5);
        content: '';
    }
}

.menu-active {
    .site-header__mobile-menu-toggle {
        div {
            &:nth-of-type(1) {
                transform: translateY(-13px) rotate(45deg) scaleX(1.5);
            }

            &:nth-of-type(2) {
                transform: translateY(-13px) rotate(-45deg) scaleX(1.5);
            }

            &:nth-of-type(3),
            &:nth-of-type(4) {
                opacity: 0;
            }
        }
    }
}