@import (reference) "variables";
@import (reference) "core";

@header-height: 88px;
@header-height-mobile: 70px;
@header-border-size: 4px;

.site-header {
    z-index: 1;
    position: relative;
    height:@header-height-mobile;
    box-shadow: 0 @header-border-size 0 0 rgba(0,0,0,0.15);
    text-align: center;

    @media @m {
        height: @header-height;
    }

    .centered-column {
        height:100%;
        .valign-center;
    }

    &__mobileheader {
        z-index: 1;
        position: relative;
        background-color: @white;
        .clearfix();
    }

    &__left {
        margin:0;
        float:left;

        figcaption {
            color:@black;
            text-transform:uppercase;
        }
    }

    &__logo {
        width: 3.6rem;
        margin: .4rem @margin-half .4rem .4rem;
        float:left;

        @media @m {
            width: 7rem;
            margin: 0;
        }

        @media @l {
            width: 8rem;
            margin-right:@margin-default;
        }
    }

    &__s2s {
        display:inline-block;
        margin:0;
        font-size:@text-size-bigger;
        line-height:@header-height-mobile;
        text-shadow: 1px 1px 0 @brand-pink;
        vertical-align: middle;
        .header;

        @media @m {
            line-height: @header-height;
            text-shadow: none;
        }
    }

    &__right {
        height:100%;
        float:right;
        .valign-center;
    }

    &__right-content {
        display:inline-block;
        text-align: right;
        vertical-align: middle;
    }

    &__nav {
        display:inline-block;
        font-size:@text-size-bigger;
        font-weight:bold;

        li {
            display:inline;
            font-size:@text-size-bigger*.9;
        }
    }

    &__item {
        margin-right:@margin-half;
        padding-bottom:3px;
        color:inherit;
        text-decoration: none;

        @media @l {
            margin-right: @margin-double;
        }

        li:last-child & {
            margin-right:0;
        }

        &--active {
            border-bottom:5px solid @brand-pink;
        }
    }

    &__btn-donate {
        display:block;
        margin-bottom:@margin-half;
        clear:both;

        @media @m {
            padding-right: @margin-half;
            padding-left: @margin-half;
        }

        @media @m-l {
            padding-right: @margin-default*1.5;
            padding-left: @margin-default*1.5;
        }
    }

    &__mobile-menu-toggle {
        position: absolute;
        top: .6rem;
        right: .6rem;
        width: 3rem;
        height: 3rem;
        padding: 12px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        div {
            position:absolute;
            width: 1.5625rem;
            height: 2px;
            background-color: @brand-pink;

            &:nth-of-type(1),
            &:nth-of-type(2) {
                transform: translateY(-11px);
                transition: transform 0.3s ease;
            }

            &:nth-of-type(3),
            &:nth-of-type(4) {
                transition: opacity 0.3s ease;
            }

            &:nth-of-type(1) {
                transform-origin: left top;
            }

            &:nth-of-type(2) {
                transform-origin: right top;
            }

            &:nth-of-type(4) {
                transform: translateY(11px);
            }
        }
    }

    &__mobile-menu {
        z-index: -1;
        position: absolute;
        top: @header-height-mobile;
        left: 0;
        width: 100%;
        padding-bottom: @margin-default;

        transform: translateY(0%);
        background: @white;
        box-shadow: 0 @header-border-size 0 0 rgba(0,0,0,0.15);
        opacity: 1;
        transition: transform 0.3s ease, opacity 0.1s ease;

        &.hidden {
            transform: translateY(-110%);
            opacity: 0;
            pointer-events: none;
        }
    }

    &__mobile-nav {
        margin-bottom: @margin-default;
        font-size: @text-size-bigger;
        font-weight: bold;
        line-height: 2.5;

        .site-header__item {
            margin: 0;
        }
    }
}

.menu-active {
    .site-header__mobile-menu-toggle {
        div {
            &:nth-of-type(1) {
                transform: translateY(-13px) rotate(45deg) scaleX(1.5);
            }

            &:nth-of-type(2) {
                transform: translateY(-13px) rotate(-45deg) scaleX(1.5);
            }

            &:nth-of-type(3),
            &:nth-of-type(4) {
                opacity: 0;
            }
        }
    }
}
