<header class="site-header">
    <div class="centered-column mobile-hidden">
        <h1 class="a11y-sr-only">Plastic Soup Surfer</h1>
        <figure class="site-header__left">
            <a href="/">
                <img src="/assets/images/logo.png" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x" class="site-header__logo" alt="">
            </a>

            <figcaption class="site-header__s2s">Source 2 Sea</figcaption>
        </figure>

        <nav class="site-header__nav">
            <ul class="flat-list">
                <li>
                    <a href="/" class="site-header__item {{ 'site-header__item--active' if page == 'index' }}">Home</a>
                </li>  
                <li>
                    <a href="/expedition" class="site-header__item {{ 'site-header__item--active' if page == 'expedition' }}">Expedition</a>
                </li>
                <li>
                    <a href="/exploot" class="site-header__item {{ 'site-header__item--active' if page == 'exploot' }}">Back me up!</a>
                </li>
                <li>
                    <a href="/about" class="site-header__item {{ 'site-header__item--active' if page == 'about' }}">About</a>
                </li>
            </ul>
        </nav>

        <div class="site-header__right">
            <div class="site-header__right-content">
                <a href="/exploot" class="site-header__btn-donate button button--primary">Donate now</a>

                <span class="site-header__progressvalue">{{ donatedProgress*100 }}%</span>

                <div class="site-header__progressbar">
                    <div class="site-header__progress" style="width:{{ donatedProgress*100 }}%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="desktop-hidden">
        <h1 class="a11y-sr-only">Plastic Soup Surfer</h1>
        <figure class="site-header__left">
            <a href="/">
                <img src="/assets/images/logo.png" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x" class="site-header__logo" alt="">
            </a>

            <figcaption class="site-header__s2s">#Source2Sea</figcaption>
        </figure>

        <button class="site-header__mobile-menu-toggle" data-mobile-menu-toggle>Show menu</button>
    </div>

    <div class="site-header__mobile-menu hidden" data-mobile-menu>
        <nav class="site-header__mobile-nav">
            <ul class="flat-list">
                <li>
                    <a href="/" class="site-header__item {{ 'site-header__item--active' if page == 'index' }}">Home</a>
                </li>  
                <li>
                    <a href="/expedition" class="site-header__item {{ 'site-header__item--active' if page == 'expedition' }}">Expedition</a>
                </li>
                <li>
                    <a href="/exploot" class="site-header__item {{ 'site-header__item--active' if page == 'exploot' }}">Back me up!</a>
                </li>
                <li>
                    <a href="/about" class="site-header__item {{ 'site-header__item--active' if page == 'about' }}">About</a>
                </li>
            </ul>
        </nav>

        <div class="site-header__right-content">
            <a href="/exploot" class="site-header__btn-donate button button--primary">Donate now</a>

            <span class="site-header__progressvalue">{{ donatedProgress*100 }}%</span>

            <div class="site-header__progressbar">
                <div class="site-header__progress" style="width:{{ donatedProgress*100 }}%"></div>
            </div>
        </div>
    </div>
</header>