<header class="site-header">
    <div class="centered-column">
        <div class="site-header__left">
            <img src="/assets/images/logo.png" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x" class="site-header__logo">

            <h1 class="site-header__s2s">#SOURCE2SEA</h1>
        </div>

        <nav class="site-header__nav">
            <ul>
                <li>
                    <a href="/" class="site-header__item {{ 'site-header__item--active' if page == 'index' else '' }}">Journey</a>
                </li>  
                <li>
                    <a href="/exploot" class="site-header__item">Exploot</a>
                </li>
                <li>
                    <a href="/about" class="site-header__item">About</a>
                </li>
            </ul> 
        </nav>

        <div class="site-header__right">
            {% set siteStatus = siteStatus[0] %}

            <a href="" class="button button--pink">Donate now</a>

            Totaal gedoneerd: {{ siteStatus.fields.donated }}
        </div>
    </div>
</header>