<header class="site-header">
    <div class="centered-column mobile-hidden">
        <h1 class="a11y-sr-only">Plastic Soup Surfer</h1>
        <a href="/">
            <img src="/assets/images/logo.png" width="66" height="64" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x" class="site-header__logo" alt="">
        </a>

        <nav class="site-header__nav">
            <ul class="flat-list">
                <li>
                    <a href="/" class="site-header__item {{ 'site-header__item--active' if page == 'index' }}">Home</a>
                </li>
                <li>
                    <a href="/campaigns" class="site-header__item {{ 'site-header__item--active' if page == 'campaigns' }}">campaigns</a>
                </li>
                <li>
                    <a href="/about" class="site-header__item {{ 'site-header__item--active' if page == 'about' }}">About</a>
                </li>
            </ul>
        </nav>

        <div class="site-header__right">
            <div class="site-header__right-content">
                <a href="/donate" class="site-header__btn-donate button button--primary">Donate now</a>
            </div>
        </div>
    </div>

    <div class="desktop-hidden site-header__mobileheader">
        <h1 class="a11y-sr-only">Plastic Soup Surfer</h1>
        <a href="/">
            <img src="/assets/images/logo.png" width="66" height="64" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x" class="site-header__logo" alt="">
        </a>

        <button class="site-header__mobile-menu-toggle" data-mobile-menu-toggle>
            <!-- Show menu -->
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </button>
    </div>

    <div class="site-header__mobile-menu hidden" data-mobile-menu>
        <nav class="site-header__mobile-nav">
            <ul class="flat-list">
                <li>
                    <a href="/" class="site-header__item {{ 'site-header__item--active' if page == 'index' }}">Home</a>
                </li>
                <li>
                    <a href="/campaigns" class="site-header__item {{ 'site-header__item--active' if page == 'campaigns' }}">campaigns</a>
                </li>
                <li>
                    <a href="/about" class="site-header__item {{ 'site-header__item--active' if page == 'about' }}">About</a>
                </li>
            </ul>
        </nav>

        <div class="site-header__right-content">
            <a href="/donate" class="site-header__btn-donate button button--primary">Donate now</a>
        </div>
    </div>
</header>
