{%- extends "views/_base/layout.html" -%}
{% from "components/quote/quote.html" import quote %}

{% block title %}About{% endblock %}

{%- block content -%}

	{% include "components/about-me/about-me.html" %}

	{{ quote('I am not accusing plastic, I am accusing our attitude toward plastic', 'Merijn Tinga') }}

	{% include "components/past-adventures/past-adventures.html" %}

	{% include "components/about-team/about-team.html" %}

	{% include "components/about-stichting/about-stichting.html" %}

{%- endblock -%}
