.footer {
	color: @white;

	.menu-active & {
		opacity: .5;
	}

	.footer__wave {
		overflow: hidden;

		img {
			display: block;
			margin-left: -50%;
			width: 200%;
			height: auto;
		}

		@media @m {
			img {
				margin-left: 0;
				width: 100%;
			}
		}
	}

	.footer__content {
		margin-top: -5px; // prevents white line from appearing when resizing the browser
		padding: @margin-double 0;
		background: @brand-blue;

		@media @m {
			padding: @margin-double*2 0;
		}
	}

	.two-columns {
		display: block;

		.left-column {
			width: 100%;
			.light-text-on-dark-background();
		}

		.right-column {
			padding-left: 0;
			width: 100%;
		}

		@media @m {
			display: flex;

			.left-column {
				width: 70%;
			}

			.right-column {
				display: flex;
				flex-wrap: wrap;
				width: 30%;
			}
		}
	}

	h3 {
		margin-bottom: @margin-half;
	}

	ul {
		margin-bottom: @margin-default*1.5;
		line-height: 1.5;

		&:last-child {
			margin-bottom: 0;
		}

		&.social-media-icons {
			li {
				display: inline-block;
				margin-right: @margin-half;

				@media @m {
					margin-right: @margin-default;
				}
			}
		}
	}

	a {
		color: @white;
		text-decoration: none;
	}

	&__buttons {
		margin-top: @margin-double;
		width: 100%;

		@media @m {
			width: auto;
		}

		.button {
			display: block;
			margin-bottom: @margin-default;
			text-align: center;

			@media @m {
				max-width: auto;
			}
		}
	}

	&__credits {
		.light-text-on-dark-background();
		align-self: flex-end;
		font-size: @text-size-smaller;
	}
}