<footer class="footer">
	<div class="footer__wave">
		<img src="/assets/icons/footer-wave.svg" alt="">
	</div>

	<div class="footer__content">
		<div class="centered-column">
			<h2 class="a11y-sr-only">Contact</h2>

			<div class="two-columns">
				<div class="left-column">
					<h3 class="a11y-sr-only">Social media</h3>

					<ul class="flat-list social-media-icons">
						<li>
							<a href="https://www.facebook.com/Plasticsoupsurfer/"><img src="/assets/icons/facebook-logo.svg" alt="Facebook"></a>
						</li>
						<li>
							<a href="https://twitter.com/merijntinga"><img src="/assets/icons/twitter-logo.svg" alt="Twitter"></a>
						</li>
						<li>
							<a href="https://instagram.com/plasticsoupsurfer"><img src="/assets/icons/instagram-logo.svg" alt="Instagram"></a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCGjZWmQFuLyWnK6phN3B9Ow/videos"><img src="/assets/icons/youtube-logo.svg" alt="YouTube"></a>
						</li>
					</ul>

					<h3>Press, Talks & Presentations</h3>

					<ul class="flat-list">
						<li>Martine Eyzenga</li>
						<li><a href="mailto:martine@diezijnvaardig.nl">martine@diezijnvaardig.nl</a></li>
						<li>06 54 28 54 92</li>
					</ul>

					<h3>Campaign & Programming</h3>

					<ul class="flat-list">
						<li>Kim van den Anker</li>
						<li><a href="mailto:kimvdanker@gmail.com">kimvdanker@gmail.com</a></li>
						<li>06 31 91 77 34</li>
					</ul>
				</div>

				<div class="right-column">
					<div class="footer__buttons">
						<a href="/donate" class="button button--primary">Donate now</a>
						<a href="http://plasticsoupsurfer.us9.list-manage1.com/subscribe?u=913b66d5123f4d287fe729350&id=956e13cc1f" class="button button--primary">Newsletter</a>
					</div>

					<ul class="flat-list footer__credits">
						<li>Website design by <a href="https://hike.one">Hike One</a></li>
						<li><a href="https://www.voorhoede.nl">Website developed by De Voorhoede</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
