<footer class="footer">
	<div class="centered-column">
		<h2 class="a11y-sr-only">Contact</h2>		

		<div class="footer__left">
			<h3 class="a11y-sr-only">Social media</h3>

			<ul class="flat-list social-media-icons">
				<li>
					<a href="#"><img src="http://placehold.it/50x50" alt="Facebook"></a>
				</li>
				<li>
					<a href="#"><img src="http://placehold.it/50x50" alt="Twitter"></a>
				</li>
				<li>
					<a href="#"><img src="http://placehold.it/50x50" alt="Vimeo"></a>
				</li>
				<li>
					<a href="#"><img src="http://placehold.it/50x50" alt="YouTube"></a>
				</li>
			</ul>

			<h3>Contact info</h3>

			<ul class="flat-list">
				<li>Merijn Tinga: Plastic Soup Surfer</li>
				<li>email: <a href="mailto:merijntinga@hotmail.com">merijntinga@hotmail.com</a></li>
				<li>tel: 06 54 28 54 92</li>
			</ul>

			<h3 class="a11y-sr-only">Agency</h3>

			<ul class="flat-list">
				<li>Pers & interviews: via Martine Eyzenga</li>
				<li>email: <a href="mailto:martine@diezijnvaardig.nl">martine@diezijnvaardig.nl</a></li>
			</ul>
		</div>

		<div class="footer__right">
			<div class="footer__buttons">
				<a href="#" class="button button--pink">Donate now</a>
				<a href="#" class="button button--pink">Newsletter</a>
			</div>

			<ul class="flat-list footer__credits">
				<li>Website design by UNITiD</li>
				<li>Website developed by De Voorhoede</li>
			</ul>
		</div>
	</div>
</footer>