.paddle-board {
	.clearfix();
	margin: 0 auto @margin-default auto;
	padding: 0 @margin-default;
	max-width: 1100px;

	@media @m {
		margin-bottom: @margin-double*3;
	}

	&__image {
		text-align: center;

		img {
			width: 80%;
			height: auto;
		}

		@media @m {
			float: left;
			width: 50%;
		}
	}

	&__description {
		float: right;

		@media @m {
			float: right;
			padding-left: @margin-default;
			width: 50%;
		}
	}
}