<section class="paddle-board" data-paddle-board>
	<div class="paddle-board__description">
		<h2>The Plastic Soup SUP</h2>

		<p>The Stand Up Paddle (SUP) board was built in collaboration with an Industrial Designer from the Science Centre at the Delft Technical University. Five thousand bottle caps and over a hundred small littered plastic bottles were used in the design. The board was constructed using the latest innovations in eco design. Moreover, it was designed in such a way that a tent can be pitched on the board to spend the night.</p>
	</div>

	<div class="paddle-board__image">
		<img src="/assets/images/paddle-board.jpg" alt="">
	</div>
</section>
