<section class="paddle-board" data-paddle-board>
	<div class="paddle-board__description">
		<h2>The Plastic Soup SUP</h2>

		<p>The Stand Up Paddle board is built in collaboration with an industrial designer of the TU Delft Science Centre. Five thousand bottle caps and over a hundred small littered plastic bottles are used in its design. The board will be constructed using the latest innovations in eco-design. Moreover it is designed in such a way that a tent can be pitched on the board to spend the night.</p>
	</div>

	<div class="paddle-board__image">
		<img src="/assets/images/paddle-board.jpg" alt="">
	</div>
</section>
