<section class="paddle-board">
	<div class="paddle-board__description">
		<h2>The Plastic Board</h2>

		<p>The Stand Up Paddle board is built in collaboration with Roberto Guido TU Delft Science Center. Five thousand bottle caps and over a hundred littered small plastic bottles are used in its design. All the latest innovations in eco design are being used in the construction of this board. The board is the message and a call to action in one. Stop plastic littering and adopt sustainable innovations.</p>
	</div>

	<div class="paddle-board__image">
		<img src="/assets/images/paddle-board.png" alt="">
	</div>
</section>