.paddle-board {
	.clearfix();
	margin: 0 auto @margin-double*3 auto;
	padding: 0 @margin-default;
	max-width: 1100px;

	&__image {
		float: left;
		width: 50%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__description {
		float: left;
		padding-left: @margin-default;
		width: 50%;
	}
}