.donation-progress {
	@donation-breakpoint: 600px;
	@progress-item-width: 225px;
	@progress-bar-width: 260px;
	@progress-bar-height: 145px;
	@progress-bar-left: 82px;
	@progress-bar-bottom: 40px;

	overflow: hidden;
	text-align: center;

	@media only screen and (min-width: @donation-breakpoint) {
		&__description {
			position: relative;
			margin: 0 auto @margin-default*4 auto;
			width: 70%;
		}
	}

	&__current-progress {
		width: 100%;

		@media only screen and (min-width: @donation-breakpoint) {
			width: 800px;
			padding-left: @margin-default;
		}
	}

	&__old-progress {
		padding-bottom: @margin-double;
		width: 100%;

		@media only screen and (min-width: @donation-breakpoint) {
			padding-right: @margin-default;
			padding-bottom: 0;
			width: @progress-item-width;
			border-right: 3px dashed @brand-pink;

			.progress-item {
				padding-right: 0;
				width: 209px;
			}
		}
	}

	&__number {
		font-size: @text-size-heading*1.5;

		@media only screen and (min-width: @donation-breakpoint) {
			font-size: @text-size-heading*2;
		}
	}

	&__bailiff {
		margin: 0 auto;
		padding-bottom: 130%;
		width: 100%;
		height: 0;
		background: url('/assets/icons/bailiff.svg') center / auto 100% no-repeat;

		@media only screen and (min-width: @donation-breakpoint) {
			padding-bottom: 95%;
			width: 70%;
		}
	}
}
