.donation-progress {
	overflow: hidden;
	text-align: center;

	@media @m {
		&__description {
			position: relative;
			margin: 0 auto @margin-default*4 auto;
			width: 70%;
		}
	}

	&__progress-indicator {
		margin-bottom: @margin-default*4;

		h3 {
			margin-bottom: @margin-half;
		}

		.phase-month {
			font-weight: normal;
			font-size: @text-size-bigger;
			text-transform: lowercase;
		}

		p {
			font-family: @font-header;
			color: @brand-pink;
		}

		.progress-item {
			position: relative;
			margin: 0 auto;
			width: 288px;
			background-color: @white;

			@media @m {
				margin: 0;
			}
		}

		.progress-value {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 58px;
			bottom: 32px;
			width: 167px;
			height: 90px;
			font-family: @font-header;
			font-size: 1.6rem;
			font-weight: bold;
			color: @white;
		}

		.progress-bar {
			position: absolute;
			left: 58px;
			bottom: 32px;
			width: 167px;
			height: 90px;
			background-color: #d85555;
			background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(255, 255, 255, 0.2) 7px, rgba(255, 255, 255, 0.2) 10px);
			border-radius: 2px;
		}
	}

	&__current-progress {
		width: 100%;

		@media @m {
			width: 288px;
			padding-left: @margin-default;
		}
	}

	&__old-progress {
		padding-bottom: @margin-double;
		width: 100%;

		@media @m {
			padding-right: @margin-default;
			padding-bottom: 0;
			width: 288px;
		}
	}

	&__number {
		font-size: @text-size-heading*1.5;

		@media @m {
			font-size: @text-size-heading*2;
		}
	}

	&__bailiff {
		margin: 0 auto;
		padding-bottom: 130%;
		width: 100%;
		height: 0;
		background: url('/assets/icons/bailiff.svg') center / auto 100% no-repeat;

		@media @m {
			padding-bottom: 95%;
			width: 70%;
		}
	}
}
