<section class="donation-progress centered-column">
	<div class="donation-progress__description">
		<h2>Let the CEO know!</h2>

		<p>The CEO (Chief Executive) has to take responsibility for the End-of-Life of his plastic products and packaging. His neglect has a harmful effect on the marine environment, sea life and and eventually on us.</p>

		<p>Once a CEO is made aware of the harmful effects through our warrant, he is morally urged to take his corporate responsibility and minimize the effects of his plastic products through product design, return systems, use of alternative materials and/or adequate communication.</p>

		<p>The high profile nature of the campaign aims to inspire a broader audience of consumers, small businesses and legislators. It is a discussion about the way companies pass down the responsibility of waste to consumer and misuse their power.</p>

		<p>By targeting the CEOs of the top ten companies we want to start a movement towards a plastic litter free society within a circular economy framework. And these ten targeted people in power can make a decisive impact straight away.</p>
	</div>

	<div class="donation-progress__progress-indicator">
		<ul class="donation-progress__visual flat-list">
			<li class="progress-item">
				<img src="/assets/icons/warrant--empty.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--empty.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--empty.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--empty.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--progress.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--finished.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--finished.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--finished.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--finished.svg" alt="">
			</li>
			<li class="progress-item">
				<img src="/assets/icons/warrant--finished.svg" alt="">
			</li>
		</ul>

		<h2>Total sold <span class="donation-progress__number">{{ donatedProgress }}%</span></h2>
	</div>
</section>