@white: #fff;
@grey: #9c9c9c;
@grey-lighter: #d8d8d9;
@grey-light: #f7f7f8;
@black: #000;
@brand-pink: #f26f69;
@brand-pink-light: lighten(@brand-pink, 10%);
@brand-blue: #2b2f47;
@brand-highlight: #36afc5;
@brand-highlight-light: #daf0f4;

@site-width: 960px;

// TYPOGRAPHY

@font-header:nanami_roundedbold, sans-serif;
@font-body:proxima_nova_rgregular, sans-serif;

@text-size-heading:50/16rem;
@text-size-big: 30/16rem;
@text-size-bigger:20/16rem;
@text-size-default:16/16rem;
@text-size-smaller:14/16rem;
@text-size-small:10/16rem;

// WHITESPACE

@margin-default:1rem;
@margin-double:@margin-default*2;
@margin-quadruple:@margin-default*4;
@margin-half:@margin-default/2;

// MEDIA QUERIES

@s-only: ~'only screen and (max-width: 767px)';
@m: ~'only screen and (min-width: 768px)';
@m-l: ~'only screen and (min-width: 800px)';
@l: ~'only screen and (min-width: 992px)'; // width + margin

@map-width: 928px;
@map-height: 544px;
