@white: #fff;
@grey: #9C9C9C;
@grey-light: #F7F7F8;
@black: #000;
@brand-pink: #f26f69;
@brand-pink-light: lighten(@brand-pink, 10%);
@brand-blue: #2b2f47;
@brand-highlight: #36afc5;
@brand-highlight-light: #daf0f4;

// TYPOGRAPHY

@font-header:nanami_roundedbold, sans-serif;
@font-body:proxima_nova_rgregular, sans-serif;

@text-size-heading:50/16rem;
@text-size-big: 30/16rem;
@text-size-bigger:20/16rem;
@text-size-default:16/16rem;
@text-size-smaller:14/16rem;
@text-size-small:10/16rem;

// WHITESPACE

@margin-default:1rem;
@margin-double:@margin-default*2;
@margin-half:@margin-default/2;

// MEDIA QUERIES

@s: ~'only screen and (min-width: 480px)';
@m: ~'only screen and (min-width: 768px)';
@l: ~'only screen and (min-width: 992px)'; // width + margin
