.partners-list {
	display: flex;
	flex-wrap: wrap;

	&::after {
		content: '';
		clear: both;
	}

	&__item {
		float: left;
		padding-right: @margin-default;
		width: 50%;

		@media @m {
			padding-right: @margin-double;
			width: calc(100% / 3);
		}

		@media @l {
			width: calc(25%);
		}
	}

	&__company-logo	{
		width: 100%;
		height: auto;
	}
}
