<section class="centered-column">
	<h2>Partners</h2>

	<ul class="partners-list flat-list">
		<li class="partners-list__item">
			<a href="https://star-board.com/">
				<img class="partners-list__company-logo" src="/assets/logos/starboard.png" alt="Starboard">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://hike.one/">
				<img class="partners-list__company-logo" src="/assets/logos/hike-one.png" alt="Hike One">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.voorhoede.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/de-voorhoede.png" alt="De Voorhoede">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.adessium.org/">
				<img class="partners-list__company-logo" src="/assets/logos/adessium.png" alt="Adessium">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.tomra.com/en/">
				<img class="partners-list__company-logo" src="/assets/logos/tomra.png" alt="Tomra">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://sciencecentre.tudelft.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/sciencedelft.png" alt="Science Centre Delft">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://waterranger.com/en/">
				<img class="partners-list__company-logo" src="/assets/logos/WR-Logo.png" alt="Water Ranger">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.vaude.com/en-NL/">
				<img class="partners-list__company-logo" src="/assets/logos/vaude.png" alt="Vaude">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.wintertaling.nl/team/edo-smid/">
				<img class="partners-list__company-logo" src="/assets/logos/edosmid.png" alt="Edo Smid">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.horchneradvocaten.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/horchner.png" alt="Hörchner">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://recyclingnetwerk.org/">
				<img class="partners-list__company-logo" src="/assets/logos/recycling-netwerk-vierkant_400x400.png" alt="Recycling Netwerk">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.watersportverbond.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/watersportverbond.png" alt="Koninklijke Watersportverbond">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.plasticsoupfoundation.org/en/">
				<img class="partners-list__company-logo" src="/assets/logos/plasticsoup.png" alt="Plastic Soup Foundation">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://entropyresins.com/">
				<img class="partners-list__company-logo" src="/assets/logos/entropy-resins.png" alt="Entropy Resins">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.duh.de/">
				<img class="partners-list__company-logo" src="/assets/logos/deutsche-umwelthilfe.png" alt="Deutsche Umwelthilfe">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.ivn.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/ivn.png" alt="IVN">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.technolyt.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/logo-Technolyt-payoff-RGB.png" alt="Technolyt">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.noordzee.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/stichting-de-noordzee.png" alt="Stichting De Noordzee">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.canoeicf.com/">
				<img class="partners-list__company-logo" src="/assets/logos/canoe.png" alt="International Canoe Federation">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://surfriderfoundation.de/">
				<img class="partners-list__company-logo" src="/assets/logos/surfrider.png" alt="Surfrider Foundation Europe North Germany">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://www.fujitsu.com/nl/">
				<img class="partners-list__company-logo" src="/assets/logos/fujitsu-red-jpg-rgb_tcm127-1146712.png" alt="Fujitsu">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="http://zwerfinator.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/zwerfinator.png" alt="Zwerfinator">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.facebook.com/diezijnvaardig/">
				<img class="partners-list__company-logo" src="/assets/logos/diezijnvaardig.png" alt="Diezijnvaardig">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://bebr.nl/">
				<img class="partners-list__company-logo" src="/assets/logos/bebr.png" alt="BEBR">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.garmin.com/nl-NL">
				<img class="partners-list__company-logo" src="/assets/logos/garmin-logo.png" alt="Garmin">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.mollie.com">
				<img class="partners-list__company-logo" src="/assets/logos/mollie.png" alt="Mollie">
			</a>
		</li>
		<li class="partners-list__item">
			<a href="https://www.ggn.nl">
				<img class="partners-list__company-logo" src="/assets/logos/ggn.png" alt="GGN">
			</a>
		</li>
	</ul>
</section>
