.partners-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 8rem;
        padding-right: @margin-default;

        @media @m {
            width: calc(100% / 3);
            padding-right: @margin-double;
        }

        @media @l {
            width: calc(25%);
        }
    }
    
    &__item-link {
        width: 100%;
    }

    &__company-logo {
        width: 100%;
        max-width: 15rem;
        height: 100%;
        object-fit: contain;
    }
}