<section class="centered-column">
	<h2>Partners</h2>

	<ul class="partners-list flat-list">
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
		<li class="partners-list__item">
			<img class="partners-list__company-logo" src="http://placehold.it/100x100" alt="Company name">
		</li>
	</ul>
</section>