{% macro partnersList(partners) %}
    <section class="centered-column">
        <h2>Partners</h2>

        <ul class="partners-list flat-list">
            {% for partnerName in partners %}
                {{ partnerItem( partnersData[partnerName] ) }}
            {% endfor %}
        </ul>
    </section>
{% endmacro %}

{% macro partnerItem(partner) %}
    <li class="partners-list__item">
        <a href="{{ partner.url }}">
            <img class="partners-list__company-logo" src="/assets/logos/{{ partner.logo }}" alt="{{ partner.name }}">
        </a>
    </li>
{% endmacro %}

{% set partnersData = {
    starboard: {
        name: 'Starboard',
        url: 'https://star-board.com/',
        logo: 'starboard.png'
    },
    hikeOne: {
        name: 'Hike One',
        url: 'https://hike.one/',
        logo: 'hike-one.png'
    },
    deVoorhoede: {
        name: 'De Voorhoede',
        url: 'https://www.voorhoede.nl/',
        logo: 'de-voorhoede.svg'
    },
    tomra: {
        name: 'Tomra',
        url: 'https://www.tomra.com/en/',
        logo: 'tomra.png'
    },
    adessium: {
        name: 'Adessium',
        url: 'http://www.adessium.org/',
        logo: 'adessium.png'
    },
    sciencedelft: {
        name: 'Science Centre Delft',
        url: 'http://sciencecentre.tudelft.nl/',
        logo: 'sciencedelft.png'
    },
    waterRanger: {
        name: 'Water Ranger',
        url: 'http://waterranger.com/en/',
        logo: 'water-ranger.png'
    },
    vaude: {
        name: 'Vaude',
        url: 'https://www.vaude.com/en-NL/',
        logo: 'vaude.png'
    },
    edoSmid: {
        name: 'Edo Smid',
        url: 'http://www.wintertaling.nl/team/edo-smid/',
        logo: 'edosmid.png'
    },
    horchner: {
        name: 'Hörchner',
        url: 'http://www.horchneradvocaten.nl/',
        logo: 'horchner.png'
    },
    recyclingNetwerk: {
        name: 'Recycling Netwerk',
        url: 'http://recyclingnetwerk.org/',
        logo: 'recycling-netwerk.png'
    },
    watersportverbond: {
        name: 'Koninklijke Watersportverbond',
        url: 'http://www.watersportverbond.nl/',
        logo: 'watersportverbond.png'
    },
    plasticsoup: {
        name: 'Plastic Soup Foundation',
        url: 'http://www.plasticsoupfoundation.org/en/',
        logo: 'plasticsoup.png'
    },
    entropyResins: {
        name: 'Entropy Resins',
        url: 'https://entropyresins.com/',
        logo: 'entropy-resins.png'
    },
    deutscheUmwelthilfe: {
        name: 'Deutsche Umwelthilfe',
        url: 'http://www.duh.de/',
        logo: 'deutsche-umwelthilfe.png'
    },
    ivn: {
        name: 'IVN',
        url: 'https://www.ivn.nl/',
        logo: 'ivn.png'
    },
    technolyt: {
        name: 'Technolyt',
        url: 'http://www.technolyt.nl/',
        logo: 'technolyt.png'
    },
    deNoordzee: {
        name: 'Stichting De Noordzee',
        url: 'https://www.noordzee.nl/',
        logo: 'stichting-de-noordzee.png'
    },
    canoeDederation: {
        name: 'International Canoe Federation',
        url: 'http://www.canoeicf.com/',
        logo: 'canoe.png'
    },
    surfriderFoundation: {
        name: 'Surfrider Foundation Europe North Germany',
        url: 'http://surfriderfoundation.de/',
        logo: 'surfrider.png'
    },
    fujitsu: {
        name: 'Fujitsu',
        url: 'http://www.fujitsu.com/nl/',
        logo: 'fujitsu.png'
    },
    zwerfinator: {
        name: 'Zwerfinator',
        url: 'http://zwerfinator.nl/',
        logo: 'zwerfinator.png'
    },
    diezijnvaardig: {
        name: 'Diezijnvaardig',
        url: 'https://www.facebook.com/diezijnvaardig/',
        logo: 'diezijnvaardig.png'
    },
    bebr: {
        name: 'BEBR',
        url: 'https://bebr.nl/',
        logo: 'bebr.png'
    },
    garmin: {
        name: 'Garmin',
        url: 'https://www.garmin.com/nl-NL',
        logo: 'garmin-logo.png'
    },
    mollie: {
        name: 'Mollie',
        url: 'https://www.mollie.com',
        logo: 'mollie.png'
    },
    ggn: {
        name: 'GGN',
        url: 'https://www.ggn.nl',
        logo: 'ggn.png'
    },
    nationalGeographic: {
        name: 'National Geographic',
        url: 'https://nationalgeographic.com/',
        logo: 'national-geographic.png'
    },
    natuurEnMilieu: {
        name: 'Natuur & Milieu',
        url: 'https://natuurenmilieu.nl/',
        logo: 'natuur-en-milieu.png'
    },
    nioz: {
        name: 'NIOZ',
        url: 'https://nioz.nl/',
        logo: 'nioz.svg'
    },
    google: {
        name: 'Google',
        url: 'https://cloud.google.com/',
        logo: 'google.png'
    },
    universiteitLeiden: {
        name: 'Universiteit Leiden',
        url: 'https://www.universiteitleiden.nl/',
        logo: 'universiteit-leiden.svg'
    }
} %}
