#live-map {
    width:100%;
    height:544px;
    overflow:hidden;
    position:relative;
}

.map {
    &__overlay {
        .map--debug & {
            opacity:.7;
            pointer-events: none;
        }
    }

    &__marker {
        border-radius:50%;
        width:20px;
        height:20px;
        background:@white;
        position:absolute;
        transform:translate(-50%, -50%);

        &--current {
            background:@brand-pink;
        }

        &--start {
            left: 400px;
            top: 495px;
            width: 70px;
            height: 70px;
            background: url('/assets/icons/map-marker-start.svg') center / auto 100% no-repeat transparent;
        }

        &--finish {
            left: 165px;
            top: 120px;
            width: 70px;
            height: 70px;
            background: url('/assets/icons/map-marker-finish.svg') center / auto 100% no-repeat transparent;
        }
    }

    .social-card {
        position: absolute;
        top: @margin-double;
        right: @margin-double;
        max-width: 290px;
    }
}