{% from "components/social-card/social-card.html" import socialCard %}

<section>
	<div class="centered-column">
		<h2>Expedition</h2>

		<div class="map-wrapper">
			<div id="live-map" class="map">
				<div class="map__img"></div>
				<div class="map__marker map__marker--start"></div>
				<div class="map__marker map__marker--finish"></div>
			</div>

			{%
				set defaultContent = {
					"body": "<h3>The awareness formal notice</h3><p>The Plastic Soup Surfer paddled down the entire Rhine on a board made from plastic waste to raise awareness about plastic pollution.</p><p>Now he will confront the companies whose plastic waste he found in the Rhine. He will issue a formal notice to their top executives, urging them to take their responsibility.</p>",
					"call_to_action": {
						"url": "/exploot",
						"label": "Back me up!"
					},
					noThumbnail: true
				}
			%}

			{{ socialCard(defaultContent) }}
		</div>

		{% if phase == "june" %}
			{% include "components/progress/progress.html" %}
		{% endif %}
	</div>
</section>
