#live-map {
    width:100%;
    height:544px;
    overflow:hidden;
    position:relative;
}

.map {
    &__overlay {
        .map--debug & {
            opacity:.7;
            pointer-events: none;
        }
    }

    &__marker {
        border-radius:50%;
        width:20px;
        height:20px;
        background:@white;
        position:absolute;
        transform:translate(-50%, -50%);

        &--current {
            background:@brand-pink;
        }
    }

    &__info-panel {
        position: absolute;
        padding: @margin-default;
        top: @margin-double;
        right: @margin-double;
        max-width: 250px;
        background: @white;
    }

    &__info-panel-image {
        margin: -@margin-default -@margin-default @margin-default -@margin-default;
        padding-bottom: 52%;
        height: 0;
        background-position: center;
        background-size: cover;
    }

    &__info-panel-social {
        position: absolute;
        left: @margin-default;
        top: @margin-default;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        background: @white;
        text-align: center;
        line-height: 3.5rem;

        img {
            width: 1.5rem;
            height: auto;
        }
    }
}