<section>
	<div class="centered-column">
	    <h2>Route</h2>

	    <div id="live-map" class="map">
	        <img class="map__overlay" src="/assets/images/map-overlay.png" style="position:absolute;left: -355px; top: -30px;pointer-events:none;">

	        <div class="map__info-panel">
	        	<div class="map__info-panel-image" style="background-image: url('http://placehold.it/250x130');">
	        		<div class="map__info-panel-social">
	        			<a href="#"><img src="/assets/icons/twitter-icon.svg" alt="Twitter"></a>
	        		</div>
	        	</div>

	        	<h3>The Awareness Warrant</h3>

	        	<p>The Plastic Soup Surfer will boldly confront the companies behind the plastic waste he finds in the Rhine. He will issue judicial notifications to the top executives, questioning their corporate social responsibility and thus forcing them to a statement.</p>

	        	<a href="#" class="button button--primary button--full-width">Donate</a>
	        </div>
	    </div>

	    {% include "components/progress/progress.html" %}
    </div>
</section>