{% from "components/social-card/social-card.html" import socialCard %}

<section>
	<div class="centered-column">
	    <h2>Route</h2>

		{% if phase == "may" %}
			
		{% endif %}

	    <div id="live-map" class="map">
	        <img class="map__overlay" src="/assets/images/map-overlay.png" style="position:absolute;left: -355px; top: -30px;pointer-events:none;">

	        <div class="map__info-panel" id="map-info-panel" hidden></div>
	    </div>

		<script type="text/template" id="map-info-panel-template">
			<% if(image) { %>
				<div class="map__info-panel-image" style="background-image: url('<%- image %>');">
					<% if(type === "highlighted-post") { %>
					<div class="map__info-panel-social">
						<a href="#"><img src="/assets/icons/twitter-icon.svg" alt="Twitter"></a>
					</div>
					<% } %>
				</div>
			<% } %>

			<% if(type === "event") { %>
			<h3><%- title %></h3>
			<% } %>

			<p><%- message %></p>

			<a href="/exploot" class="button button--primary button--full-width">Donate</a>
		</script>

		{% include "components/progress/progress.html" %}
	</div>
</section>