{%- extends "views/_base/layout.html" -%}
{% from "components/notification/notification.html" import notification %}

{%- block content -%}
	{% if donationState == "success" %}
		{{ notification('Your donation was successful. Thank you!') }}
	{% elif error %}
		{{ notification(error) }}
	{% endif %}

	{% include "components/hero-exploot/hero-exploot.html" %}

	{% include "components/donate/donate.html" %}

	{% include "components/donation-progress/donation-progress.html" %}

	{% include "components/nominees/nominees.html" %}
{%- endblock -%}